<!DOCTYPE html>
<!--路易拉菲制作：qq282107688-->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=GBK">
    
    <meta name="description" content="{?$meta_description?}">
    <meta name="keywords" content=" {?$meta_keywords?}">
    <meta content="zh-cn" http-equiv="Content-Language">
    <title>{?$article_title?}-{?$jieqi_title?}-{?$sortname?}-{?$jieqi_sitename?}</title>
    <link rel="stylesheet" href="/sink/css/reader.css" type="text/css">
    <link rel="stylesheet" href="/sink/css/common_chapter.css" type="text/css">
</head>
<body ondragstart="return false;" oncopy="return false;" oncut="return false;" oncontextmenu="return false;" class="whitetheme">

<div class="reader_header">
	1111111111111
</div>
<div class="path">
    <a href="{?$url_articleinfo?}" target="_blank">{?$article_title?}</a>
</div>
<div id="windowthemebg"></div>
<div class="read">
    <div class="read-box">
        
    <div class="chapter-page" data-chapterid="3082943" data-isfree="true" data-nextchapter="-1" data-prechapterid="3082942">

        <h3 class="bookname">{?$article_title?}</h3>
<h4 class="chaptername">{?$jieqi_title?}</h4>

<p class="author">
    <span>作者：<a href="{?function jieqi_geturl:'system':'user':$authorid?}">{?$author?}</a></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字数：{?$chaptersize_c?}</span>
</p>
<p class="publishtime">发布时间：{?$chaptertime|date:'Y-m-d H:i'?}</p>
<div class="page-content FXLNmHSE">
		<pre ondragstart="return false" oncopy="return false;" oncut="return false;" oncontextmenu="return false" class="note pqfifEhahUBBMWr">{?$jieqi_content?}</pre>
		
</div><ul class="chapter-behavior">
                <a href="{?$url_previous?}"><li class="behavior-comment">上一章</li></a>
                <a href="{?$url_next?}"><li class="behavior-donate">下一章</li></a>
            </ul>
        </div>
</div>

</div>
<div class="addscorllbar"></div>
<div id="floatbox">
    <link rel="stylesheet" href="/sink/css/index_header1.css" type="text/css" class="mmyqwhref">
<div class="secondnav" id="back-to-top" style="display: none;">
    <div class="wrap1200">
        <div class="secondnav-l fl">
            <ul>
                <li><a href="/" class="sitename">首页</a></li>
                <li><a href="{?$jieqi_modules['article']['url']?}/articlefilter.php" target="_blank" class="site-tag">书库</a></li>
                    <li><a href="{?$jieqi_modules['article']['url']?}/top.php" target="_blank" class="site-tag">排行</a></li>
                    <li><a href="/modules/pay/buyegold.php" target="_blank" class="site-tag">充值</a></li>
                    <li><a href="/modules/article/myarticle.php" target="_blank" class="site-tag">作家专区</a></li>
                    <li><a href="/"  class="site-tag">手机版</a></li>
                    <li><a href="/fuli.htm" target="_blank" class="site-tag">福利</a></li>
            </ul>
        </div>
        <div class="secondnav-r fr">
				{?if $jieqi_userid == 0?}
				<div class="nav-login">
						<a href="/login.php" class="login" >登录</a>
						<a href="/register.php" class="register">注册</a>
					</div>
					{?else?}
            <div class="secondnav-user fl">
                    <a href="{?$jieqi_url?}/userdetail.php" target="_blank" class="firstname"><span>{?$jieqi_username?}</span><i></i></a>
                    <ul>
                        <li><a href="/modules/article/bookcase.php" target="_blank">我的书架</a></li>
                        <li><a href="/modules/pay/buyegold.php" target="_blank">充值</a></li>
                        <li><a href="/message.php?box=inbox" target="_blank">消息</a></li>
                        <li><a href="{?$jieqi_user_url?}/logout.php">退出</a></li>
					</ul>
			
				</div>
				{?/if?}
            <div class="fr lateread">
                <a href="/ssss.php" class="lateread_text">最近阅读</a>
            </div>

                <div class="searchbox">
                    <div class="searchbox-inner">
                    <form name="t_frmsearch" method="post" action="{?$jieqi_modules['article']['url']?}/search.php">
                        <input type="text" autocomplete="off" name="searchkey" placeholder="找书、找人" class="searchinput" value="">
                        <i class="search-icon"></i>
                        <input type="button" value="" class="searchbtn" style="background-color:#333333"/>
                        <span class="loadIcon"></span>
                    </form>
                    </div>
                </div>

        </div>
    </div>
</div>
<ul class="leftbar">
        <a href="{?$url_index?}"><li class="catalog"></li></a> 
        <li class="settings"><i></i></li>

    </ul>

    <div class="settings_con">
        <span class="set_title">设置</span>
        <span class="close"><i></i></span>
        <ul class="set_bg clearfixer">
            <li class="set_bg_text">主题模式</li>
            <li class="set_bg_white set_bg_com on" data-bodytheme="whitetheme"></li>
            <li class="set_bg_black set_bg_com" data-bodytheme="blacktheme"></li>
            <li class="set_bg_qing set_bg_com" data-bodytheme="qingsetheme"></li>
            <li class="set_bg_dirt set_bg_com" data-bodytheme="tuhuangtheme"></li>
            <li class="set_bg_pink set_bg_com" data-bodytheme="pinktheme"></li>
            <li class="set_bg_green set_bg_com" data-bodytheme="zuitangtheme"></li>
        </ul>
        <ul class="set_font clearfixer">
            <li class="set_font_text">字体大小</li>
            <li class="set_font_small">
                <span></span>
            </li>
            <li class="set_font_cur">18</li>
            <li class="set_font_big">
                <span></span>
            </li>
        </ul>
        <ul class="set_style clearfixer">
            <li class="set_style_text">字体样式</li>
            <li class="set_style_yh set_style_com on" data-family="familymicro">
                <span></span>雅黑
            </li>
            <li class="set_style_st set_style_com" data-family="familysimsun">
                <span></span>宋体
            </li>
            <li class="set_font_ks set_style_com" data-family="familykaiti">
                <span></span>楷书
            </li>
        </ul>
        <span class="set_default">恢复默111认</span>
    </div>
    <div id="windowbg"></div>
</div>

<script>
    var page_config = {

    }
</script>
<script type="text/javascript">
	var _loginUser = 'basic';
    var _config = 21048420;
</script>
<script type="text/javascript" src="/sink/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/sink/js/handlebars.helper.js"></script>
<script type="text/javascript" src="/sink/js/vendor.js"></script>
<script src="/sink/js/index_header.js"></script>
<script src="/sink/js/reader.js"></script>
<script>
        sti ="{?$jieqi_title?}";
        surl = (window.location.href);
        sxs =   "{?$article_title?}";
        xs = localStorage.getItem("xst");
        xs1 = localStorage.getItem("xst1");
        xs2 = localStorage.getItem("xst2");
        xs3 = localStorage.getItem("xst3");
        xs4 = localStorage.getItem("xst4");
        //判断小说标题是否已存入
        if (sxs==xs) {
              localStorage.setItem("xurl",surl);
              localStorage.setItem("xti",sti);
          }if (sxs==xs1) {
              localStorage.setItem("xurl1",surl);
              localStorage.setItem("xti1",sti);
          }if (sxs==xs2) {
              localStorage.setItem("xurl2",surl);
              localStorage.setItem("xti2",sti);
          }if (sxs==xs3) {
              localStorage.setItem("xurl3",surl);
              localStorage.setItem("xti3",sti);
          }if (sxs==xs4) {
              localStorage.setItem("xurl4",surl);
              localStorage.setItem("xti4",sti);
          }else{
            if (xs==null) {
              localStorage.setItem("xti",sti);
              localStorage.setItem("xurl",surl);
              localStorage.setItem("xst",sxs);
            }if ((xs1==null)&&(xs!==null)&&(xs!==sxs)) {
                localStorage.setItem("xti1",sti);
                localStorage.setItem("xurl1",surl);
                localStorage.setItem("xst1",sxs);
              }if ((xs2==null)&&(xs1!==null)&&(xs!==null)&&(xs!==sxs)&&(xs1!==sxs)) {
                localStorage.setItem("xti2",sti);
                localStorage.setItem("xurl2",surl);
                localStorage.setItem("xst2",sxs);
              }if ((xs3==null)&&(xs2==null)&&(xs1!==null)&&(xs!==null)&&(xs!==sxs)&&(xs1!==sxs)) {
                localStorage.setItem("xti3",sti);
                localStorage.setItem("xurl3",surl);
                localStorage.setItem("xst3",sxs);
              }if ((xs4==null)&&(xs3==null)&&(xs2==null)&&(xs1!==null)&&(xs!==null)&&(xs!==sxs)&&(xs1!==sxs)) {
                localStorage.setItem("xti4",sti);
                localStorage.setItem("xurl4",surl);
                localStorage.setItem("xst4",sxs);
              }
            }
    
/*var storage=window.localStorage;
                storage.a=1;
                storage.setItem("c",3);
                console.log(storage);
                storage.clear();
                console.log(storage);*/
    </script>
</body></html>