<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
	<div class="mod block form col-xs-12">
		<div class="hd">
			<h3>购买包月会员</h3>
</div>
<form name="frmlogin" method="post" action="{?$url_login?}">
<div  >
<div > 
    <h5>当前用户：{?$jieqi_username?}</h5>
    
</div>
<div> 
    <h5>包月状态：  {?if $overtime == 0?}尚未包月{?else?}{?$overtime|date:'Y-m-d'?} 到期{?/if?}</h5>

<div > 
    <h5>当前余额：{?$egold?} {?$egoldname?}</h5>

</div>
<div > 
    <h5>包月选项：</h5>
	{?section name=i loop=$jieqimonthly['article']['options']?}
	<input type="radio" class="radio" name="buytype" value="{?$i['key']?}" {?if $buytype == $i['key']?} checked="checked"{?/if?}/>{?$i['key']?}个月 ({?$jieqimonthly['article']['options'][i]?}{?$egoldname?})<br /><br />
	{?/section?}
</div>
<div class="ft">
    <input type="hidden" name="act" value="buy">{?$jieqi_token_input?}
    <input type="submit" class="btn btn-auto btn-blue" value="确认购买" name="submit">
  </div>

</form>
</div>
</div>