<link rel="stylesheet" href="../../themes/jieqi220/css/search.css">

  <section class="search">
   <section class="container">
	 <form method="post" action="{?$jieqi_modules['article']['url']?}/search.php" class="search-form">
    <div class="nice-select" data-rel="">
     <div class="scont">
      <input id="searchkey" value="" class="mykey" placeholder="搜索小说/作者/关键词 "  name="searchkey" />
      <div class="secbtns">
       <input type="submit" class="btn-so" value="搜索">
      </div>
     </div>
     <div class="myul">
      <ul></ul>
      <div class="sclear">
       <a href="javascript:;">清空搜索记录</a>
      </div>
     </div>
     <div class="keysec">
      <!-- <ul><li>bbc--匹配输入</li><li>vvb--匹配输入</li><li>ccv--匹配输入</li><li>jQuery--匹配输入</li><li>Android--匹配输入</li></ul>  -->
     </div>
    </div>
    <div class="s_top">
     <p><a href="http://m.9kus.com/Book/detail/book_id/35268/op/10102">也曾爱过你</a><a href="http://m.9kus.com/Book/detail/book_id/36196/op/10102">许你十年情深</a><a href="http://m.9kus.com/Book/detail/book_id/32510/op/10102">隐婚100分：神秘老公不见面</a><a href="http://m.9kus.com/Book/detail/book_id/34992/op/10102">不过仗着我爱你</a><a href="http://m.9kus.com/Book/detail/book_id/11471/op/10102">拒嫁豪门：总裁的迷糊妻</a><a href="http://m.9kus.com/Book/detail/book_id/17243/op/10102">迫嫁为妾：王爷太放肆</a></p>
    </div>
	   </form>
   </section>
  </section>
<style>
  .btn-so{
  	    background: #44a9f7;
  }
</style>