<!doctype html><html lang="zh-cmn-Hans"><head><title>小说网-九库文学|都市小说,言情小说,玄幻小说,好看的小说</title><meta charset="utf-8" /><meta http-equiv="Cache-Control" content="no-transform" /><meta http-equiv="Cache-Control" content="no-siteapp" /><meta name="Baiduspider" content="noarchive"><meta name="keywords" content="九库文学,九库小说,九库小说网,言情小说,青春小说,玄幻小说,武侠小说,都市小说,历史小说,网络小说,原创网络文学" /><meta name="description" content="小说阅读,精彩小说尽在九库文学。九库文学提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说最新章节免费小说阅读,精彩尽在九库文学！" /><meta name="renderer" content="webkit"><meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"><meta name="apple-mobile-web-app-title" content="九库文学"><meta name="apple-mobile-web-app-capable" content="yes" /><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /><meta name="format-detection" content="telephone=no" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><meta name="baidu-site-verification" content="4a8ExyTvbS" /><meta name="wap-font-scale" content="no"><link type="text/css"  rel="stylesheet" href="http://img2.9kus.com/wap_9kus/new_wap/css/base.css?v=20170322" /><!--<link type="text/css"  rel="stylesheet" href="http://img2.9kus.com/wap_9kus/new_wap/css/wapjieri.css" />--><script src="http://img2.9kus.com/wap_9kus/new_wap/js/jquery-1.11.1.min.js" type="text/javascript"></script><style>     .newtops{
    background: #fff;
    padding: 15px 0;
    margin: 0 auto 15px;
    max-width: 750px;
}
.newtops h1{
    font-size: 1.25rem;
    color: #232323;
    
    padding-left: 25px;
}
.newtops .tcon01{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_man1.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon02{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_women.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon011{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_man2.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon022{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_women2.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon03{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_zhou01.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon04{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_zhou02.png) no-repeat left center ;
    background-size: contain;   
}
.newtops .tcon05{
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/ticon_zhou03.png) no-repeat left center ;
    background-size: contain;   
}
.newtops ul{
    overflow: hidden;
}
.newtops li{
    float: left;
    width: 23%;
    margin: 0 2%; 
    position: relative;
}
.newtops li:last-child{ 
    width: 15%;  
}
.newtops li:last-child a{ 
    position: absolute;
    margin-top: 30%;
    width: 100%; 
    height: 85px;
    right: 0;
    background: url(http://img2.9kus.com/wap_9kus/new_wap/images/catright.png) no-repeat center ;
    background-size: auto 25%;   
}
</style></head><body><!--内容区--><!--导航--><section class="wapheader" ><section class="container"><a href="http://m.9kus.com/?op=10062" class="fl logo" title=""></a><span class="right fr"><!--登录后--><a href="http://m.9kus.com/BookCollect/index/op/10060" class="mybook">书架</a><a href="http://m.9kus.com/User/index/op/10062" class="allways"><img src="http://q.qlogo.cn/qqapp/101229138/1338A1D1A46947A2AF02FAE9C126CE08/100" class="bd50"><em><img src="http://img2.9kus.com/wap_9kus/new_wap/images/wayqq.png" /></em></a><!--登录后 end--></span></section></section><!--导航 end--><!--菜单--><section class="menu otmenu clearfix"><section class="container"><ul><li><a href="http://m.9kus.com/?op=10062"><b>首页</b></a></li><li><a href="http://m.9kus.com/Rank/index/op/10062"><b>排行</b></a></li><li><a href="http://m.9kus.com/Book/booklist/op/10062"><b>书库</b></a></li><li><a href="http://m.9kus.com/Search/index/op/10062"><b>搜索</b></a></li><li><a href="http://m.9kus.com/Recharge/index?op=10062"><b>充值</b></a></li></ul></section></section><!--菜单 end--><!--新排行榜--><div class="newtops clearfix"><h1 class="tcon01">男生畅销榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/10477/op/10062" title=""><img src="http://img.9kus.com/bookImages/77/10477_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34860/op/10062" title=""><img src="http://img.9kus.com/bookImages/60/34860_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/18354/op/10062" title=""><img src="http://img.9kus.com/bookImages/54/18354_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/0/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon02">女生畅销榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/35264/op/10062" title=""><img src="http://img.9kus.com/bookImages/64/35264_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/36252/op/10062" title=""><img src="http://img.9kus.com/bookImages/52/36252_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34716/op/10062" title=""><img src="http://img.9kus.com/bookImages/16/34716_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/1/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon011">男生新书榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/34860/op/10062" title=""><img src="http://img.9kus.com/bookImages/60/34860_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34882/op/10062" title=""><img src="http://img.9kus.com/bookImages/82/34882_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34898/op/10062" title=""><img src="http://img.9kus.com/bookImages/98/34898_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/2/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon022">女生新书榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/36196/op/10062" title=""><img src="http://img.9kus.com/bookImages/96/36196_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/35268/op/10062" title=""><img src="http://img.9kus.com/bookImages/68/35268_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34788/op/10062" title=""><img src="http://img.9kus.com/bookImages/88/34788_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/3/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon03">连载周榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/10477/op/10062" title=""><img src="http://img.9kus.com/bookImages/77/10477_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/34860/op/10062" title=""><img src="http://img.9kus.com/bookImages/60/34860_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/26912/op/10062" title=""><img src="http://img.9kus.com/bookImages/12/26912_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/4/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon04">完结周榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/35264/op/10062" title=""><img src="http://img.9kus.com/bookImages/64/35264_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/35268/op/10062" title=""><img src="http://img.9kus.com/bookImages/68/35268_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/36252/op/10062" title=""><img src="http://img.9kus.com/bookImages/52/36252_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/5/op/10062" title=""></a></li></ul></div><div class="newtops clearfix"><h1 class="tcon05">总榜</h1><ul><li><a href="http://m.9kus.com/Book/detail/book_id/10477/op/10062" title=""><img src="http://img.9kus.com/bookImages/77/10477_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/26912/op/10062" title=""><img src="http://img.9kus.com/bookImages/12/26912_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Book/detail/book_id/18703/op/10062" title=""><img src="http://img.9kus.com/bookImages/03/18703_300_400.jpg" alt="" /></a></li><li><a href="http://m.9kus.com/Rank/rank_list/type/6/op/10062" title=""></a></li></ul></div><!--新排行榜 end--><!--尾部--><section class="footer clearfix"><section class="container"><a href="http://download.9kus.com/apk/00/591d03a43fae2.apk?op=10062" id="down" class="downChannelCount" data-recommendid="4531"><h1>签到送大礼，折扣看书更划算</h1></a><p class="clearfix"><a href="http://m.9kus.com/?op=10062">首页</a><a href="http://m.9kus.com/Book/booklist/op/10062">书库</a><a href="http://m.9kus.com/Search/index/op/10062">搜索</a><a href="http://m.9kus.com/Recharge/index?op=10062">充值</a><a href="http://www.9kus.com/?wm=1">电脑站</a></p><p>&copy;2016 9kus.com</p></section></section><div style="display:none;"><script>var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?c158910b8e1b7e2ad1b6e43238e9d898";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
(function(){
var bp = document.createElement('script');
bp.src = '//push.zhanzhang.baidu.com/push.js';
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(bp, s);
})();
function is_weixn(){  
var ua = navigator.userAgent.toLowerCase();  
if(ua.match(/MicroMessenger/i)=="micromessenger") {  
   return true;  
} else {  
   return false;  
}  
}
if(is_weixn()){
var url_id = document.getElementById('down');
url_id.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.mengmengda.reader';
}
</script><a  key ="574d1b7cefbfb00a58d58521"  logo_size="124x47"  logo_type="realname"  href="http://www.anquan.org" ><script src="http://static.anquan.org/static/outer/js/aq_auth.js"></script></a></div><script src="http://img2.9kus.com/wap_9kus/new_wap/js/wapnew.js" type="text/javascript"></script><script type="text/javascript">    $(".downChannelCount").on('click',function(){
   var userStatus = "1";

   if(userStatus && userStatus == 1){
       var url = "http://m.9kus.com/Index/downC_y/op/10062";
   }else{
       var url = "http://m.9kus.com/Index/downC_n/op/10062";
   }

   
   $.ajax({
       url:url,
       type:'get',
       async:false,
       cache:false,
       success:function(data){

       }
   })
})
</script><script  type="text/javascript">   	 	$('.loginFr').on('click',function(){
       var loginFr_url = $("a.loginFr").attr('href');
       if(loginFr_url.indexOf("?")>0){
           loginFr_url = loginFr_url+'&backurl='+"http%3A%2F%2Fm.9kus.com%2Findex.php%3Fs%3D%2F%2FRank%2Findex%2Fop%2F10062";
       }else{
           loginFr_url = loginFr_url+'?backurl='+"http%3A%2F%2Fm.9kus.com%2Findex.php%3Fs%3D%2F%2FRank%2Findex%2Fop%2F10062";
       }
       $("a.loginFr").attr('href',loginFr_url);
   })
   //推荐记录
   $("a[data-recommendid]").on("touchend",function(){
       var recommend_id = $(this).attr('data-recommendid');
       $.ajax({
           url:"http://m.9kus.com/RecommendCount/index/op/10062",
           type:"POST",
           async:false,
           cache:false,
           data:'recommend_id='+recommend_id,
       });
   });
   
  
</script></body></html><!--尾部 end--></body></html>