{?section name=i loop=$articlerows?}
<dl class="book-block">
        <dt><a href="{?$articlerows[i].url_articleinfo?}" target="_blank"><img src="{?$articlerows[i].url_image?}"></a> </dt>
        <dd>
            <a  href="{?$articlerows[i].url_articleinfo?}" class="book-name" target="_blank">{?$articlerows[i].articlename?}</a>
            <span class="book-author"><a href="{?$articlerows[i].url_articleinfo?}" target="_blank">{?$articlerows[i].author?}</a> | <a  target="_blank">{?$articlerows[i].sort|truncate:4:''?}</a>

            </span>
            <a  href="{?$articlerows[i].url_articleinfo?}" class="book-info" target="_blank">{?$articlerows[i].intro|htmlclickable|truncate:40:'.....'?}</a>

        </dd>
    </dl>
    {?/section?}