
<div class="container-fluid container-box">
        <div class="rows">
          <div class="sidebar">
            <ul class="navw nav-sidebar ">
          <li class="n01">
              <a href="/modules/article/myarticle.php" class="active">专区首页</a>
          </li>
          <li class="n02"><a href="/modules/article/newarticle.php">发布作品</a></li>
          <li class="n03"><a href="/modules/article/masterpage.php">管理作品</a></li>
          <li class="n04"><a href="/modules/article/tool.php?id=1">申请签约</a></li>
          <li class="n05"><a href="/modules/article/tool.php?id=2">申请上架</a></li>
          <li class="n06"><a href="/modules/obook/masterpage.php">收入管理</a></li>
          <li class="n07"><a href="/modules/article/newdraft.php">新建草稿</a></li>
          <li class="n05"><a href="/modules/article/draft.php">管理草稿</a></li>
          <li class="n06"><a href="/ptopics.php?oid=self">我的留言</a></li>
          <li class="n07"><a href="/modules/article/authorpage.php">我的专栏</a></li>
      
      </ul>
      </div>