<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="书荒文学网-一家专做优质原创正版内容的小说网站，集创作、阅读、交流互动为一体的原创小说网站，创建于2019年10月，提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、纯情密爱、霸道总裁、叔宠萌宝、传统文学、散文选集等在线阅读以及免费下载。">
	<meta name="keywords" content=" 书荒文学,原创小说,文学,穿越,女强,玄幻,爽文,重生,幻言,都市,免费小说阅读,最热小说下载,小说,传统文学,散文选集,散文">
	<meta content="zh-cn" http-equiv="Content-Language">
	<title>捡个皇帝当学生- 第二章 什么是娘炮？-穿越时空-书荒文学</title>
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/reader.css" type="text/css">
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/common_chapter.css" type="text/css"/>
	<script type="text/javascript">var uid = "36"; var checkcodelogin = ""; var jieqi_token = 'a810a69e5f97d71c8407bff5a79ce745';var jumpurl = window.location.href;</script>
</head>
<body ondragstart="return false;" oncopy="return false;" oncut="return false;" oncontextmenu="return false;" class="whitetheme">

<div class="reader_header">
</div>
<div class="path">
	<a href="/" target="_blank">首页</a>
	<span>></span>
	<a target="_blank" href="//www.novelrd.cn/sort/9/1.html">穿越时空</a>
	<span>></span>
	<a href="//www.novelrd.cn/book/214.html" target="_blank">捡个皇帝当学生</a>
</div>
<div id="windowthemebg"></div>
<div class="read">
	<div class="read-box">
		<div class="blank-div"></div>
	</div>

</div>
<div class="addscorllbar"></div>
<div id="floatbox">
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/index_header.css" type="text/css"
		  class="mmyqwhref"/>
	<div class="secondnav" id="back-to-top" style="display: none;">
		<div class="wrap1200">
			<div class="secondnav-l fl">
				<ul>
					<li><a href="/" class="sitename">书荒文学</a></li>
					<li><a href="/modules/article/articlefilter.php?page=1" target="_blank" class="site-tag">书库</a></li>
					<li><a href="//www.novelrd.cn/top/toplist/1.html" target="_blank" class="site-tag">排行</a></li>
					<li><a href="//www.novelrd.cn/fullsort/0/1.html" target="_blank" class="site-tag">全本</a></li>
					<!--<li><a href="/modules/forum/" target="_blank" class="site-tag">论坛</a></li>-->
					<li><a href="/modules/article/applywriter.php" target="_blank" class="site-tag">作家专区</a></li>
					<li class="morefl "><a href="#" target="_blank" class="moreh ">更多</a>
						<div class="morestyle">
							
							<a href="//www.novelrd.cn/sort/1/1.html" target="_blank">玄幻</a>
							
							<a href="//www.novelrd.cn/sort/2/1.html" target="_blank">武侠</a>
							
							<a href="//www.novelrd.cn/sort/3/1.html" target="_blank">都市</a>
							
							<a href="//www.novelrd.cn/sort/4/1.html" target="_blank">历史</a>
							
							<a href="//www.novelrd.cn/sort/5/1.html" target="_blank">仙侠</a>
							
							<a href="//www.novelrd.cn/sort/6/1.html" target="_blank">科幻</a>
							
							<a href="//www.novelrd.cn/sort/7/1.html" target="_blank">现实</a>
							
							<a href="//www.novelrd.cn/sort/8/1.html" target="_blank">幻想言情</a>
							
							<a href="//www.novelrd.cn/sort/9/1.html" target="_blank">穿越时空</a>
							
							<a href="//www.novelrd.cn/sort/10/1.html" target="_blank">都市青春</a>
							
							<a href="//www.novelrd.cn/sort/11/1.html" target="_blank">古代言情</a>
							
							<a href="//www.novelrd.cn/sort/12/1.html" target="_blank">奇幻言情</a>
							
							<a href="//www.novelrd.cn/sort/13/1.html" target="_blank">未来科幻</a>
							
						</div>
					</li>
				</ul>
			</div>
			<div class="secondnav-r fr">
				
				<div class="secondnav-user fl">
					<a href="//www.novelrd.cn/userdetail.php" target="_blank" class="firstname"><span>kkljsj</span><i></i></a>
					<ul>
						<li><a href="/modules/article/bookcase.php" target="_blank">我的书架</a></li>
						<li><a href="/modules/pay/buyegold.php" target="_blank">充值</a></li>
						<li><a href="//www.novelrd.cn/userdetail.php" target="_blank">个人中心</a></li>
						<li><a href="//www.novelrd.cn/message.php?box=inbox" target="_blank">消息(<em class="red bubbleNum">0</em>)</a></li>
						<li><a href="//www.novelrd.cn/logout.php?jumpurl=%2Fmodules%2Fobook%2Freader.php%3Fcid%3D12599%26aid%3D214" target="_blank">退出</a></li>
					</ul>
				</div>
				
				<div class="fr lateread">
					<a href="javascript:void(0);"  class="lateread_text">最近阅读</a>
					<div class="lastread_box">
						<span class="icon-read"></span>
						<div class="lastread_con">
							<p class="unlogin"><a href="javascript:void(0)" class="login" onclick="pop_login()">登录</a></p>
							<p class="loading">loading...</p>
						</div>
					</div>
				</div>
				<div id="mod-search2">
					<div class="searchbox">
						<div class="searchbox-inner">
							<input type="text" autocomplete="off" placeholder="找书、找人" class="searchinput" value="">
							<i class="search-icon"></i>
							<input type="button" value="" class="searchbtn" style="background-color:#f5546f"/>
							<span class="loadIcon"></span>
						</div>
						<ul class="search-list">
						</ul>
					</div></div>
			</div>
		</div>
	</div>
	<ul class="leftbar">
		<li class="catalog">目录</li>
		<li class="settings"><i></i></li>
		<a href="/modules/article/bookcase.php" target="_blank"><li class="addshelf"><i></i></li></a>
		<li class="cellphone"><i></i></li>
		<li class="guide">指南</li>
	</ul>
	<ul class="rightbar">
		<li class="donate"> 打赏</li>
		<li class="vote">投票</li>
		<li class="prevpage"><i></i></li>
		<li class="nextpage"><i></i></li>
	</ul>
	<ul class="guide_tips_left">
		<li>查看目录</li>
		<li class="setting">修改设置</li>
		<li>加入书架</li>
		<li>手机阅读</li>
	</ul>
	<ul class="guide_tips_right">
		<li>打赏</li>
		<li>投票</li>
		<li class="prev">查看上一页</li>
		<li class="next">查看下一页</li>
	</ul>
	<div class="guide-pop">
		<div class="guide-title">指南</div>
		<a href="javascript:;" class="close"></a>
		<div class="content clearfixer">
			<div class="con-right">
				<div class="clearfixer">
					<span class="t"></span>
					<span class="b"></span>
				</div>
				<p>上下翻页</p>
			</div>
		</div>
		<p class="guide-btn">我知道了</p>

	</div>
	<div class="settings_con">
		<span class="set_title">设置</span>
		<span class="close"><i></i></span>
		<ul class="set_bg clearfixer">
			<li class="set_bg_text">主题模式</li>
			<li class="set_bg_white set_bg_com on" data-bodytheme="whitetheme"></li>
			<li class="set_bg_black set_bg_com" data-bodytheme="blacktheme"></li>
			<li class="set_bg_qing set_bg_com" data-bodytheme="qingsetheme"></li>
			<li class="set_bg_dirt set_bg_com" data-bodytheme="tuhuangtheme"></li>
			<li class="set_bg_pink set_bg_com" data-bodytheme="pinktheme"></li>
			<li class="set_bg_green set_bg_com" data-bodytheme="zuitangtheme"></li>
		</ul>
		<ul class="set_font clearfixer">
			<li class="set_font_text">字体大小</li>
			<li class="set_font_small">
				<span></span>
			</li>
			<li class="set_font_cur">18</li>
			<li class="set_font_big">
				<span></span>
			</li>
		</ul>
		<ul class="set_style clearfixer">
			<li class="set_style_text">字体样式</li>
			<li class="set_style_yh set_style_com on" data-family="familymicro">
				<span></span>雅黑
			</li>
			<li class="set_style_st set_style_com" data-family="familysimsun">
				<span></span>宋体
			</li>
			<li class="set_font_ks set_style_com" data-family="familykaiti">
				<span></span>楷书
			</li>
		</ul>
		<span class="set_default">恢复默认</span>
	</div>
	<div id="windowbg"></div>
	<div class="erweima_app">
		<span class="erweima_app_close"><i></i></span>
		<img src="//www.novelrd.cn/style/images/wap.png" data-src="" alt="">
	</div>
	<div class="loading">
		<img src="//www.novelrd.cn/style/images/loading_style.gif" alt="">
	</div>
</div>
</body>
<script>
    var page_config = {
        bookId: "214", // false
        chapterId: "12599",
        username: "kkljsj",
        voteNumber: "161",
        isInShelf:false,  // true  表示已在书架
        nextisvip: "0",  // 下一章节是否收费
        isvip: "1",
        authorName: "藤野",
        userId: "36",
        userMoneyBalance: "967",
        nextChapterId: "12600",
        votes: "3",
        toTop_page:false,
        curChapterId:"12599"

    }
</script>


<link rel="stylesheet" href="//www.novelrd.cn/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "kkljsj",
        sitestate:"7",
        userId:"36",
        coinName:"小说币",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="application/javascript">
    function  doMyLogin() {
        if(typeof(pop_login)=='undefined'){
            window.location.href="//www.novelrd.cn/login.php"
        }else{
            pop_login();
        }

    }

</script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/handlebars.helper.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/vendor.js"></script>
<link rel="stylesheet" href="//www.novelrd.cn/style/css/ui_common.css">
<script src="//www.novelrd.cn/style/js/index_header.js"></script>

<script src="//www.novelrd.cn/style/js/common_chapter.js"></script>
<script src="//www.novelrd.cn/style/js/reader.js"></script>
</html>
