<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="书荒文学网-一家专做优质原创正版内容的小说网站，集创作、阅读、交流互动为一体的原创小说网站，创建于2019年10月，提供玄幻奇幻、都市言情、武侠仙侠、青春校园、穿越架空、纯情密爱、霸道总裁、叔宠萌宝、传统文学、散文选集等在线阅读以及免费下载。">
	<meta name="keywords" content=" 书荒文学,原创小说,文学,穿越,女强,玄幻,爽文,重生,幻言,都市,免费小说阅读,最热小说下载,小说,传统文学,散文选集,散文">
	<meta content="zh-cn" http-equiv="Content-Language">
	<title>章节购买 - 第二百零二章 算你识趣儿 - 书荒文学</title>
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/reader.css" type="text/css">
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/common_chapter.css" type="text/css"/>
	<script type="text/javascript" src="//www.novelrd.cn/style/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">var uid = "0"; var checkcodelogin = ""; var jieqi_token = '';var jumpurl = window.location.href;</script>
</head>
<body ondragstart="return false;" oncopy="return false;" oncut="return false;" oncontextmenu="return false;" class="whitetheme">

<div class="reader_header">
</div>
<div class="path">
	<!--<a href="/" target="_blank">首页</a>-->
	<!--<span>></span>-->
	<!--<a href="//www.novelrd.cn/book/253.html" target="_blank"></a>-->
</div>
<div id="windowthemebg"></div>
<div class="read">
	<div class="read-box">
		<div class="chapter-page notread"
			 data-chapterid="17047"
			 data-nextisvip="0"
			 data-isvip="1"
			 data-nextchapter="0"
			 data-prechapterid="17046">
			<h3 class="bookname">冷妃盛宠：王爷来翻案！</h3>
			<h4 class="chaptername">第二百零二章 算你识趣儿</h4>

			<p class="author">
				<span>作者：<a href="javascript:;">安公主</a></span>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字数：2162</span>
			</p>
			<p class="publishtime">发布时间： 2020-03-10 19:31</p>

			<div class="page-content AihLvCAb">
			<pre ondragstart="return false" oncopy="return false;" oncut="return false;" oncontextmenu="return false"
				 class="note gKCvvNCavZl">    　　

    　　蓝慎之点头：“正是了。维系两国和平，彰显两国亲密无间的关系，这样的事情自然只有一国公主才能做到。”


    　　“他来求亲，求的不是西若这个人，是西若穹国公主的这个身份。你安排的那些美人若是也有这个效果，那他还娶西若做什么？”

......</pre>

			</div>
			<i class="line"></i>
			<div class="subscribe-box">
				<h4 class="box-title">这是VIP章节 &nbsp;需要订阅后才能阅读</h4>
				<div class="subscribe-con clearfixer">
					<div class="con-item j-single active fl">
						<div class="subscribe-text active fl">
							订阅本章
						</div>
						<div class="subscribe-info fl">
							<p class="info-chaptername">章节：第二百零二章 算你识趣儿</p>
							<p class="info-chapternum">字数：2162字 · 1章</p>
							<p class="info-paynum">需支付 ：
								<span class="red">11</span>小说币</p>
							<p class="info-balance">账户余额：<span>0</span> 小说币</p>
							<p class="info-btn j-single-charge show"><a target="_blank" href="/modules/pay/buyegold.php">马上充值</a></p>
							<p class="info-btn j-single-buy" onclick="buy()">确认订阅</p>
							<div class="paybox_auto subscribe_auto"><label><input type="checkbox" id="autobuy"> &nbsp;不再显示订阅提醒，自动订阅下一章</label>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="addscorllbar"></div>
<div id="floatbox">
	<link rel="stylesheet" href="//www.novelrd.cn/style/css/index_header.css" type="text/css"
		  class="mmyqwhref"/>
	<div class="secondnav" id="back-to-top" style="display: none;">
		<div class="wrap1200">
			<div class="secondnav-l fl">
				<ul>
					<li><a href="/" class="sitename">书荒文学</a></li>
					<li><a href="/modules/article/articlefilter.php?page=1" target="_blank" class="site-tag">书库</a></li>
					<li><a href="//www.novelrd.cn/top/toplist/1.html" target="_blank" class="site-tag">排行</a></li>
					<li><a href="//www.novelrd.cn/fullsort/0/1.html" target="_blank" class="site-tag">全本</a></li>
					<li><a href="/modules/forum/" target="_blank" class="site-tag">论坛</a></li>
					<li><a href="/modules/article/applywriter.php" target="_blank" class="site-tag">作家专区</a></li>
					<li class="morefl "><a href="#" target="_blank" class="moreh ">更多</a>
						<div class="morestyle">
							
							<a href="//www.novelrd.cn/sort/1/1.html" target="_blank">玄幻</a>
							
							<a href="//www.novelrd.cn/sort/2/1.html" target="_blank">武侠</a>
							
							<a href="//www.novelrd.cn/sort/3/1.html" target="_blank">都市</a>
							
							<a href="//www.novelrd.cn/sort/4/1.html" target="_blank">历史</a>
							
							<a href="//www.novelrd.cn/sort/5/1.html" target="_blank">仙侠</a>
							
							<a href="//www.novelrd.cn/sort/6/1.html" target="_blank">科幻</a>
							
							<a href="//www.novelrd.cn/sort/7/1.html" target="_blank">现实</a>
							
							<a href="//www.novelrd.cn/sort/8/1.html" target="_blank">幻想言情</a>
							
							<a href="//www.novelrd.cn/sort/9/1.html" target="_blank">穿越时空</a>
							
							<a href="//www.novelrd.cn/sort/10/1.html" target="_blank">都市青春</a>
							
							<a href="//www.novelrd.cn/sort/11/1.html" target="_blank">古代言情</a>
							
							<a href="//www.novelrd.cn/sort/12/1.html" target="_blank">奇幻言情</a>
							
							<a href="//www.novelrd.cn/sort/13/1.html" target="_blank">未来科幻</a>
							
						</div>
					</li>
				</ul>
			</div>
			<div class="secondnav-r fr">
				
				<div class="nav-login">
					<a href="javascript:void(0)" class="login-user" onclick="doMyLogin()">登录</a>
					<a href="//www.novelrd.cn/register.php" class="register">注册</a>
				</div>
				
				<div class="fr lateread">
					<a href="javascript:void(0);"  class="lateread_text">最近阅读</a>
					<div class="lastread_box">
						<span class="icon-read"></span>
						<div class="lastread_con">
							<p class="unlogin"><a href="javascript:void(0)" class="login" onclick="pop_login()">登录</a></p>
							<p class="loading">loading...</p>
						</div>
					</div>
				</div>
				<div id="mod-search2">
					<div class="searchbox">
						<div class="searchbox-inner">
							<input type="text" autocomplete="off" placeholder="找书、找人" class="searchinput" value="">
							<i class="search-icon"></i>
							<input type="button" value="" class="searchbtn" style="background-color:#f5546f"/>
							<span class="loadIcon"></span>
						</div>
						<ul class="search-list">
						</ul>
					</div></div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
    var page_config = {
        bookId: "253", // false
        username: "",
        voteNumber: "13",
        isInShelf:false,  // true  表示已在书架
        isvip: "1",
        authorName: "安公主",
        userId: "0",
        userMoneyBalance: "0",
        votes: "0",
        toTop_page:false

    }
</script>
<link rel="stylesheet" href="//www.novelrd.cn/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "",
        sitestate:"7",
        userId:"0",
        coinName:"小说币",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script>
<script type="application/javascript">
    function  doMyLogin() {
        if(typeof(pop_login)=='undefined'){
            window.location.href="//www.novelrd.cn/login.php"
        }else{
            pop_login();
        }

    }

</script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/handlebars.helper.js"></script>
<script type="text/javascript" src="//www.novelrd.cn/style/js/vendor.js"></script>
<link rel="stylesheet" href="//www.novelrd.cn/style/css/ui_common.css">
<script src="//www.novelrd.cn/style/js/index_header.js"></script>

<script src="//www.novelrd.cn/style/js/common_chapter.js"></script>
<script type="application/javascript">
    function buy() {
        if (0 == 0) {
            pop_login();
		}
        var autobuy = $("#autobuy").attr("checked");
        if (autobuy === 'checked')
            autobuy = 1;
        else
            autobuy = 0;
        $.ajax({
            url: "/modules/obook/buychapter.php",
            data: {
                "cid" : "17047",
                "act" : "buy",
                "jieqi_token" : "",
                "ajax_gets" : 1,
                "buytype" : autobuy
            },
            type: "POST",
			dataType: "json",
            success: function(t) {
                if (t.success === true) {
                    layer.msg(t.message, {icon: 1,shade: .3});
                    // location.href = t.setting.curl;
                    setTimeout(function(){
                    	window.location.reload();
                    }, 600)
                }
                else{
                    layer.msg(t.message, {icon: 2,shade: .3});
                }
            },
            error: function(e) {}
        });
    }

</script>
</html>