a,a:active,a:hover {
	outline: 0
}
.pages_bottom{
	text-align: center;
}
.pagelink a{
	background-color: #F1F1F1;
	border-radius: 5px;
	margin: 2px;
	padding: 0 5px;
}
.pagelink{
	margin-top: 20px;
	text-align: center;
}
.c-aleft{
	float: left;
}
.c-aright{
	float: right;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

body {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background: #fafafa!important
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}[hidden],template {
	display: none
}

a {
	background: 0 0;
	text-decoration: none;
	color: #08c
}

a:hover {
	color: #069
}

abbr[title] {
	border-bottom: 1px dotted
}

b,optgroup,strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

.right-cont-box .rank-pic span,.tablist li a {
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox],input[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	resize: vertical
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

q {
	quotes: none
}

button,html,input,select,textarea {
	font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif
}

blockquote,figure,form,h1,h2,h3,h4,h5,h6,p {
	margin: 0
}

dd,dl,li,ol,ul {
	margin: 0;
	padding: 0
}

ol,ul {
	list-style: none
}

h1,h2,h3 {
	line-height: 2;
	font-weight: 400
}

h1 {
	font-size: 21px
}

h2 {
	font-size: 18.2px
}

h3 {
	font-size: 16.38px
}

h4 {
	font-size: 14px
}

h5,h6 {
	font-size: 11.9px;
	text-transform: uppercase
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #ccc
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #ccc
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #ccc
}

.taglist {
	height: 110px;
	overflow: auto
}

.taglist::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

.taglist::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

.taglist::-webkit-scrollbar-track {
	background-color: #f1f1f1
}

.taglist::-webkit-scrollbar-thumb {
	background: #ccc
}

.right-cont-box {
	position: relative;
	width: 950px;
	background: #fff;
	min-height: 840px
}

.right-cont-box .rankdatacont {
	clear: both;
	padding-bottom: 0;
	overflow: hidden
}

.right-cont-box .comment-r-menu {
	position: relative;
	padding-left: 20px;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #f2f2f2;
	font-size: 0
}

.right-cont-box .comment-r-menu .comment-status li {
	position: relative;
	float: left;
	margin-top: 6px;
	margin-right: 15px;
	width: 77px;
	text-align: center
}

.right-cont-box .comment-r-menu .comment-status li a {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	color: #333;
	text-align: center;
	border-radius: 12px
}

.right-cont-box .comment-r-menu .comment-status li.cur a {
	color: #ff4c2f
}

.right-cont-box .comment-r-menu .comment-status li.cur a:hover {
	color: #ff4c2f!important
}

.right-cont-box .comment-r-menu .comment-status li:first-child a.downj:after {
	margin-left: 6px;
	content: '';
	font-size: 0;
	line-height: 0;
	border-width: 7px 7px 0;
	border-color: #999 transparent;
	border-style: solid dashed dashed
}

.right-cont-box .comment-r-menu .comment-status li .tipshover {
	position: absolute;
	left: -18px;
	top: 44px;
	padding-bottom: 17px;
	width: 110px;
	overflow: hidden;
	text-align: center;
	-webkit-box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	background: #fff;
	z-index: 111
}

.right-cont-box .comment-r-menu .comment-status li .tipshover a {
	margin-top: 15px;
	display: block;
	color: #333
}

.right-cont-box .comment-r-menu .comment-status li .tipshover a.cur {
	color: #ff4c2f
}

.right-cont-box .comment-r-menu .r-c-t {
	font-size: 18px
}

.right-cont-box .comment-r-menu .go-write-c {
	margin-right: 20px;
	padding-left: 20px;
	background: url(../images/pen.png) left center no-repeat
}

.right-cont-box .clrbtn {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	margin: 12px 15px 0 0
}

.right-cont-box .clrbtn li {
	float: left;
	margin: 0 15px
}

.right-cont-box .clrbtn li a {
	width: 25px;
	height: 25px;
	display: inline-block
}

.right-cont-box .clrbtn li.clrbtn1 a {
	background: url(../images/bicon.png) no-repeat
}

.right-cont-box .clrbtn li.clrbtn2 a {
	background: url(../images/sicon.png) no-repeat
}

.right-cont-box .clrbtn li.on.clrbtn1 a {
	background: url(../images/bicon-on.png) no-repeat
}

.right-cont-box .clrbtn li.on.clrbtn2 a {
	background: url(../images/sicon-on.png) no-repeat
}

.right-cont-box .rank-pic {
	margin: 30px 13px 0 40px;
	float: left;
	position: relative;
	width: 100px;
	height: 130px;
	text-align: center;
	display: inline-block
}

.right-cont-box .rank-pic img {
	width: 100px;
	height: 100px;
	overflow: hidden
}

.right-cont-box .rank-pic span {
	margin-top: 10px;
	font-size: 14px;
	height: 333px;
	display: block;
	width: 100px
}

.right-cont-box .rank-pic .num {
	width: 20px;
	height: 20px;
	background: #999;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	font-style: normal;
	position: absolute;
	left: -10px;
	top: -10px
}

.right-cont-box .rank-pic .red {
	background: #ff4c2f
}

.secd-rank-list {
	position: relative;
	padding-bottom: 0;
	margin: 20px 25px 0;
	overflow: hidden
}

.secd-rank-list .line {
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
	clear: both;
	padding-bottom: 20px
}

.secd-rank-list dl {
	float: left;
	margin-right: 30px;
	width: 420px;
	overflow: hidden
}

.secd-rank-list dl dt {
	float: left;
	width: 110px
}

.secd-rank-list dl dt img {
	width: 110px;
	height: 150px;
	overflow: hidden
}

.secd-rank-list dl dd {
	float: left;
	margin: 10px 0 0 20px;
	width: 290px
}

.secd-rank-list dl dd .bigpic-book-name {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px
}

.secd-rank-list dl dd .bigpic-book-name .num {
	width: 20px;
	height: 20px;
	background: #999;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin-right: 10px
}

.secd-rank-list dl dd .bigpic-book-name .red {
	background: #ff4c2f
}

.secd-rank-list dl dd p {
	margin-top: 10px;
	color: #999;
	font-size: 12px
}

.secd-rank-list dl dd p a {
	color: #999
}

.secd-rank-list dl dd p a.red {
	margin-right: 15px;
	color: #ff4c2f
}

.secd-rank-list dl dd p.big-book-info {
	height: 40px;
	line-height: 21px;
	overflow: hidden
}

.secd-rank-list dl dd p .clicknum {
	margin-left: 50px
}

.secd-rank-list .bigbtn {
	position: absolute;
	right: 0;
	top: 43px
}

.secd-rank-list .bigbtn a {
	margin: 10px 0;
	width: 98px;
	height: 34px;
	line-height: 34px;
	display: block;
	text-align: center;
	font-size: 16px;
	border-radius: 5px
}

.secd-rank-list .bigbtn .detailbtn {
	color: #fff;
	border: 1px solid #ff4c2f;
	background: #ff4c2f
}

.secd-rank-list .bigbtn .addbtn {
	color: #333;
	border: 1px solid #ccc
}

.leftbar .select,.tablist li {
	border-bottom: 1px solid #e6e6e6
}

.redcolor {
	color: #ff4c2f
}

.tablist {
	margin: 0 30px
}

.tablist li {
	padding: 15px 0;
	width: 100%;
	overflow: hidden;
	font-size: 0
}

.tablist li .num,.tablist li a {
	font-size: 12px;
	display: inline-block
}

.tablist li .num {
	width: 20px;
	height: 20px;
	background: #999;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	float: left
}

.tablist li .red {
	background: #ff4c2f
}

.tablist li .tr0 {
	width: 28px;
	margin-left: 0
}

.tablist li a {
	margin-left: 30px;
	overflow: hidden
}

.tablist li a.tr1 {
	width: 60px
}

.tablist li a.tr2 {
	width: 140px;
	font-size: 14px
}

.tablist li a.tr3 {
	width: 205px
}

.tablist li a.tr4 {
	width: 150px
}

.tablist li a.tr5 {
	width: 150px;
	margin-left: 58px
}

.tablist li a.tr6 {
	width: 102px
}

.tablist li a.tr7 {
	width: 60px
}

.tablist li.tab-title a {
	font-size: 14px;
	color: #999
}

.leftbar .select .second-type a.on,.leftbar .select .textlist li.on a {
	color: #ff4c2f
}

.leftbar {
	width: 240px;
	background: #fff
}

.leftbar .select {
	position: relative;
	margin: 20px 20px 15px
}

.leftbar .select .tname {
	display: block;
	font-size: 16px;
	font-weight: 700
}

.leftbar .select .textlist {
	padding-bottom: 15px;
	font-size: 0
}

.leftbar .select .textlist li {
	display: inline-block;
	margin: 15px 16px 0 0
}

.leftbar .select .textlist li a {
	font-size: 12px;
	display: inline-block
}

.leftbar .select .textlist li.on {
	padding: 0 13px;
	border: 1px solid #ff4c2f;
	border-radius: 5px
}

.leftbar .select .second-type {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 24px;
	background: #e6e6e6;
	width: 180px;
	z-index: 11
}

.leftbar .select .second-type .taglist {
	height: 100px;
	overflow: auto;
	padding: 10px 0 10px 10px
}

.leftbar .select .second-type a {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px
}

.leftbar .select .second-type .arrow {
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 21px;
	width: 0;
	height: 0;
	border-top: 0 none;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #e6e6e6;
	border-left: 5px solid transparent;
	content: ''
}

.leftbar .selnum .textlist li {
	margin: 15px 9px 0 0
}

.leftbar .selected .textlist {
	padding-top: 14px;
	overflow: hidden
}

.leftbar .selected .textlist a {
	padding: 2px 10px;
	background: #ff4c2f;
	border-radius: 5px;
	color: #fff;
	margin: 6px 6px 0 0;
	display: inline-block
}

.leftbar .selected .textlist a .selclose {
	margin-left: 6px;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../images/closeicon.png) no-repeat
}

.leftbar .selected .textlist a:hover {
	color: #fff!important
}

.leftbar .selected .textlist b {
	border-left: 1px solid #fff;
	padding: 0 2px 0 4px;
	margin-left: 4px
}

.tag-search {
	position: absolute;
	right: 134px;
	top: 12px;
	width: 360px
}

.tag-search .inner {
	width: 202px;
	position: relative;
	overflow: hidden;
	float: left
}

.tag-search .inner .input-wrap input {
	display: block;
	width: 140px;
	height: 22px
}

.tag-search .inner .input-wrap {
	border-radius: 20px
}

.tag-search .inner .input-wrap .input-bd {
	background: 0 0
}

.tag-search .inner .btn-submit {
	width: 75px;
	background: #ff4c2f;
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	height: 25px;
	line-height: 25px;
	border-radius: 20px
}

.tag-search .inner .sresult {
	font-size: 14px;
	color: #999
}

.tag-search .sresult {
	margin-left: 30px;
	font-size: 12px;
	float: left;
	height: 25px;
	line-height: 25px;
	color: #999
}

.tag-search .sresult i {
	font-style: normal
}

.errorshow img {
	width: 226px;
	height: 235px;
	overflow: hidden;
	padding-top: 180px
}

.errorshow {
	text-align: center;
	margin: 100px auto auto;
	display: block;
	width: 226px;
	height: 415px;
	background: url(../images/error.png) no-repeat
}

.loading {
	margin-top: 100px;
	text-align: center
}