.clear:after,.clearfixer:after {
 content:'';
 clear:both;
 display:block
}
.pagelink a {
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 2px;
    padding: 0 5px;
}
.ajaxtip {
    position: relative;
    width: 300px;
    border: 5px solid #ff4c2f;
    background-color: #f5fbf5;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    color: #ff4c2f;
    font-weight: bold;
    position: fixed;
    z-index: 100;
}
.pagelink {
    margin-top: 20px;
    text-align: center;
    height: 30px;
}
.comm-cont {
    padding: 20px;
    width: 100%;
}
.comment-form .text {
    border: 1px solid #c8c8c8;
    width: 92%;
    padding: 10px;
    border-radius: 2px;
}
.text-name {
    width: 400px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
.text-cont {
    width: 800px;;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
.text-submit {
    width: 100px;
    height: 23px;
    border: 1px solid #000;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bun-submit {
    width: 160px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.clear,.clearfixer {
 zoom:1
}
.path,.path a {
 font-size:16px;
 color:#666
}
.fr {
 float:right
}
.fl {
 float:left
}
* {
 margin:0;
 padding:0;
 border:0
}
li {
 list-style:none
}
a {
 text-decoration:none;
 outline:0
}
#main {
 margin:0 auto!important;
 padding:0!important
}
.comment-box,.path {
 width:1200px;
 margin:0 auto
}
body {
 background:#fafafa!important
}
.path {
 height:36px;
 padding-top:16px;
 line-height:1
}
.reader_comments .comment_con .comment_item .left .nickname .level {
 background-position:0 0
}
.reader_comments {
 line-height:1;
 width:950px;
 background:#fff;
}
.reader_comments .comment_tit {
 margin-left:20px;
 height:49px;
 border-bottom:1px solid #f2f2f2;
 position:relative
}
.reader_comments .comment_tit .text {
 font-size:18px;
 color:#333;
 margin-top:16px
}
.reader_comments .comment_tit .comment-tab {
 margin-left:29px;
 margin-top:12px
}
.reader_comments .comment_tit .comment-tab span {
 padding:5px 11px 6px;
 border:1px solid #ccc;
 float:left;
 margin-right:15px;
 border-radius:5px
}
.reader_comments .comment_tit .comment-tab span a {
 color:#999
}
.reader_comments .comment_tit .comment-tab span.on {
 background:#ff4c2f;
 border-color:#ff4c2f
}
.reader_comments .comment_tit .comment-tab span.on a {
 color:#fff
}
.reader_comments .comment_tit .sendcomment {
 position:absolute;
 right:20px;
 top:15px;
 padding:6px 0 0 24px;
 background:url(../../img/pen.png) no-repeat;
 cursor:pointer;
 font-size:16px
}
.reader_comments .comment_con .comment_item {
 padding-top:19px;
 margin-left:20px;
 padding-bottom:20px;
 border-bottom:1px solid #f2f2f2
}
.reader_comments .comment_con .comment_item .left {
 width:80px
}
.reader_comments .comment_con .comment_item .left .avatar {
 width:40px;
 height:40px;
 border-radius:50%;
 overflow:hidden;
 display:block;
 margin-left:15px
}
.reader_comments .comment_con .comment_item .left .avatar img {
 width:40px;
 height:40px
}
.reader_comments .comment_con .comment_item .left .nickname {
 margin-top:9px;
 width:81px;
 text-align:center;
 margin-left:-4px
}
.reader_comments .comment_con .comment_item .left .nickname .level {
 width:14px;
 height:14px;
 vertical-align:top;
 display:inline-block;
 background:url(../../img/sprite/i_icon.png?v=2) no-repeat
}
.reader_comments .comment_con .comment_item .left .nickname .level.v0 {
 background-position:-60px 0
}
.reader_comments .comment_con .comment_item .left .nickname .level.v1 {
 background-position:-60px -30px
}
.reader_comments .comment_con .comment_item .left .nickname .level.v2 {
 background-position:-60px -62px
}
.reader_comments .comment_con .comment_item .left .nickname .level.v3 {
 background-position:-60px -92px
}
.reader_comments .comment_con .comment_item .left .nickname .level.v4 {
 background-position:-60px -131px
}
.reader_comments .comment_con .comment_item .left .nickname .level.v5 {
 background-position:-60px -161px
}
.reader_comments .comment_con .comment_item .left .nickname a {
 max-width:60px;
 font-size:12px;
 display:inline-block;
 text-align:left;
 color:#666;
 word-wrap:break-word;
 word-break:normal
}
.reader_comments .comment_con .comment_item .right {
 width:800px;
 margin-left:20px
}
.reader_comments .comment_con .comment_item .right .item_title,.reader_comments .comment_con .comment_item .right .item_title a {
 font-size:16px
}
.reader_comments .comment_con .comment_item .right .item_title .totop {
 color:#ff4c2f
}
.reader_comments .comment_con .comment_item .right .item_title .applausered,.reader_comments .comment_con .comment_item .right .item_title .essence {
 color:#ff4c2f;
 display:inline-block;
 margin:0 5px
}
.reader_comments .comment_con .comment_item .right .item_title .applausegold {
 display:inline-block;
 margin:0 5px;
 color:#f5a60e
}
.reader_comments .comment_con .comment_item .right .comment-text {
 line-height:24px;
 margin-top:15px;
 color:#333;
 word-wrap:break-word;
 word-break:normal;
 white-space:pre-wrap
}
.reader_comments .comment_con .comment_item .right .behavior {
 margin-top:10px
}
.reader_comments .comment_con .comment_item .right .behavior .time {
 font-size:12px;
 color:#999
}
.reader_comments .comment_con .comment_item .right .behavior .reply {
 font-size:12px;
 color:#999;
 margin-left:37px;
 cursor:pointer
}
.reader_comments .comment_con .comment_item .right .behavior .like {
 font-size:12px;
 color:#999;
 cursor:pointer;
 margin-left:35px
}
.reader_comments .comment_con .comment_item .right .behavior .report {
 font-size:12px;
 color:#999;
 cursor:pointer;
 display:none
}
.reader_comments .comment_con .comment_item .right .replybox {
 background:#f2f2f2;
 height:180px;
 position:relative;
 margin-top:20px;
 display:none
}
.reader_comments .comment_con .comment_item .right .replybox textarea {
 margin:20px 0 0 20px;
 width:740px;
 height:76px;
 resize:none;
 outline:0;
 border:none;
 padding:10px;
 line-height:16px;
 text-indent:120px
}
.reader_comments .comment_con .comment_item .right .replybox .btns {
 position:absolute;
 right:20px;
 bottom:15px
}
.reader_comments .comment_con .comment_item .right .replybox .btns .face {
 width:25px;
 height:25px;
 background:url(../../img/face.png) no-repeat;
 margin-top:3px;
 cursor:pointer
}
.reader_comments .comment_con .comment_item .right .replybox .btns .replying {
 height:30px;
 width:60px;
 background:#ff4c2f;
 text-align:center;
 color:#fff;
 line-height:30px;
 border-radius:5px;
 margin-left:15px;
 cursor:pointer
}
.reader_comments .comment_con .comment_item .right .replybox .replyer {
 position:absolute;
 top:32px;
 left:30px;
 color:#ccc
}
.reader_comments .comment_con .comment_item .right .replybox .err-tips {
 display:block;
 visibility:hidden;
 margin:7px 0 0 20px;
 color:#ff4c2f
}
.reader_comments .comment_con .comment_item .right .replybox .err-tips.show {
 visibility:visible
}
.reader_comments .comment_con .comment_con_all,.reader_comments .comment_con .comment_con_essense {
 display:none
}
.reader_comments .comment_con .fans_content {
 width:100%;
 padding:5px 0;
 float:left
}
.reader_comments .comment_con .fans_content .fans_table {
 width:100%;
 height:40px;
 float:left;
 margin:15px 0
}
.reader_comments .comment_con .fans_content .fans_table li {
 float:left;
 overflow:hidden
}
.reader_comments .comment_con .fans_content .fans_table .fans_number {
 min-width:16px;
 height:20px;
 color:#fff;
 text-align:center;
 line-height:20px;
 border-radius:4px;
 margin:10px 50px 0 35px;
 padding:0 2px
}
.reader_comments .comment_con .fans_content .fans_table .fans_head {
 width:40px;
 height:40px;
 margin-right:50px
}
.reader_comments .comment_con .fans_content .fans_table .fans_head img {
 width:40px;
 height:40px;
 float:left;
 border-radius:50%
}
.reader_comments .comment_con .fans_content .fans_table .fans_name {
 width:180px;
 margin-right:43px;
 line-height:40px;
 overflow:hidden;
 -o-text-overflow:ellipsis;
 text-overflow:ellipsis;
 white-space:nowrap
}
.reader_comments .comment_con .fans_content .fans_table .fans_name a {
 color:#333;
 font-size:12px
}
.reader_comments .comment_con .fans_content .fans_table .fans_level {
 width:290px;
 line-height:40px;
 color:#333;
 font-size:12px
}
.reader_comments .comment_con .fans_content .fans_table .fans_level span {
 color:#333;
 font-size:12px
}
.reader_comments .comment_con .fans_content .fans_table .fans_tip {
 width:200px;
 line-height:40px;
 color:#333;
 font-size:12px
}
.reader_comments .comment_con .fans_content .fans_table .fans_tip span {
 font-size:12px
}
.reader_comments .page-box {
 width:930px;
 border-top:1px solid #f2f2f2;
 float:right;
 display:none
}
.reader_comments .page-box .page-content {
 float:right;
 margin:17px 10px
}
.reader_comments .pages_bottom {
 height:350px;
 position:relative;
 line-height:1
}
.reader_comments .pages_bottom ul {
 position:absolute;
 right:170px;
 top:32px;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 color:#999;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
.reader_comments .pages_bottom ul li {
 margin-left:24px
}
.reader_comments .pages_bottom ul li.on {
 width:30px;
 height:20px;
 background-color:#ff4c2f;
 line-height:20px;
 border-radius:10px;
 text-align:center
}
.reader_comments .pages_bottom ul li.on a {
 color:#fff
}
.reader_comments .pages_bottom ul li a {
 color:#999
}


.authorbox {
 padding:25px 0 30px;
 width:240px;
 overflow:hidden;
 background:#fff;
 text-align:center
}
.authorbox .authorimg {
 width:150px;
 display:inline-block
}
.authorbox .authorimg img {
 width:150px;
 height:200px;
 display:block
}
.authorbox a {
 display:block;
 width:150px;
 margin:0 auto
}
.authorbox .a-book-tit {
 margin-top:12px;
 font-size:18px;
 font-weight:700;
 line-height:22px
}
.authorbox .a-name {
 margin-top:7px;
 height:18px;
 line-height:18px;
 font-size:14px;
 color:#666
}
.authorbox .a-btn {
 margin-top:15px;
 vertical-align:middle
}
.authorbox .a-btn .btn {
 width:82px;
 height:28px;
 line-height:28px;
 display:inline-block;
 font-size:14px;
 text-align:center;
 border-radius:5px;
 margin:0 13px
}
.authorbox .a-btn .a-free-btn {
 background:#ff4c2f;
 border:1px solid #ff4c2f;
 color:#fff
}
.mm_site_body #myForm .gobtn,.mm_site_body #myForm li.on,.mm_site_body .comment-tab .on,.mm_site_body .commentBox .submit,.mm_site_body .replybox .replying {
 background-color:#1eb9ee!important
}
.authorbox .a-btn .a-free-btn:hover {
 color:#fff!important
}
.authorbox .a-btn .a-bookshelf-btn {
 color:#666;
 border:1px solid #b3b3b3
}
.authorbox .a-btn .a-bookshelf-btn.onshelf {
 cursor:text
}
#floatbox {
 line-height:1;
 width:1200px;
 position:fixed;
 top:0;
 left:50%;
 margin-left:-600px;
 z-index:2
}
.mm_site_body .comment-tab .on {
 border-color:#1eb9ee!important
}
.yy_site_body #myForm .gobtn,.yy_site_body #myForm li.on,.yy_site_body .comment-tab .on,.yy_site_body .commentBox .submit,.yy_site_body .replybox .replying {
 background-color:#f5546f!important
}
.yy_site_body .comment-tab .on {
 border-color:#f5546f!important
}
.jw_site_body #myForm .gobtn,.jw_site_body #myForm li.on,.jw_site_body .comment-tab .on,.jw_site_body .commentBox .submit,.jw_site_body .replybox .replying {
 background-color:#0fb295!important
}
.jw_site_body .comment-tab .on {
 border-color:#0fb295!important
}
