@charset "UTF-8";

a,button:focus,input:focus {
	outline: 0
}

.clearfixer:after,.index-header .firstnav ul:after,.index-header .logozone .logo:after,.index-header .subnav .subnavbar-content:after,.wrap1200:after {
	clear: both;
	content: ''
}

.fr {
	float: right
}

.fl {
	float: left
}

* {
	margin: 0;
	padding: 0;
	border: 0
}

li {
	list-style: none
}

a {
	text-decoration: none;
	font-size: 12px;
	color: #333
}

#main {
	margin: 0 auto!important;
	padding: 0!important
}

.clearfixer:after {
	display: block
}

.clearfixer {
	zoom: 1
}

body {
	font-family: "Microsoft Yahei"!important
}

html {
	overflow: auto
}

a:hover {
	color: #f5546f
}

.red {
	color: #ff4c2f;
	font-style: normal
}

.h25 {
	height: 25px
}

.block10 {
	height: 10px
}

.block20 {
	height: 20px
}

input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}

.index-header {
	width: 100%
}

.index-header .subnav .subnav-ad {
	height: 80px;
	width: 100%;
	position: relative;
	display: block
}

.index-header .subnav .subnav-ad img {
	height: 80px;
	width: 100%
}

.index-header .subnav .subnav-ad .close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -47px;
	width: 20px;
	height: 20px
}

.index-header .subnav .subnavbar-content {
	width: 1200px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	background: #f2f2f2;
	zoom: 1
}

.index-header .subnav .subnavbar-content:after {
	display: block
}

.index-header .subnav .subnavbar-content .con_left {
	font-size: 0
}

.index-header .subnav .subnavbar-content .con_left a {
	padding: 0 20px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	color: #666
}

.index-header .subnav .subnavbar-content .con_left a.curr {
	background: #fff
}

.index-header .subnav .subnavbar-content .con_left a:first-child {
	padding-left: 0
}

.index-header .subnav .subnavbar-content .con_left .wapsite {
	position: relative;
	width: 100px;
	padding: 0
}

.index-header .subnav .subnavbar-content .con_left .wapsite i {
	position: absolute;
	left: 5px;
	top: 9px;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -91px;
	width: 16px;
	height: 24px
}

.index-header .subnav .subnavbar-content .con_left .downloadapp {
	position: relative;
	width: 100px;
	padding: 0
}

.index-header .subnav .subnavbar-content .con_left .downloadapp i {
	position: absolute;
	left: -13px;
	top: 11px;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -150px -386px;
	width: 24px;
	height: 21px
}

.index-header .subnav .subnavbar-content .con_left .downloadapp .pho-tabs {
	right: -114px
}

.index-header .subnav .subnavbar-content .right-login {
	font-size: 0;
	position: relative
}

.index-header .subnav .subnavbar-content .right-login a {
	font-size: 12px;
	margin-left: 29px
}

.index-header .subnav .subnavbar-content .right-login span.indexmobile {
	margin-left: 31px;
	display: inline-block;
	font-size: 12px;
	cursor: pointer
}

.index-header .logozone {
	padding-top: 25px;
	padding-bottom: 25px
}

.index-header .logozone .logo {
	height: 50px;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	zoom: 1
}

.index-header .logozone .logo:after {
	display: block
}

.index-header .logozone .logo .logoImage {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.index-header .logozone .searchbox {
	width: 247px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	top: 0;
	right: 150px;
	position: absolute
}

.index-header .logozone .searchbox .searchbox-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}

.index-header .logozone .searchbox .searchbox-inner .searchinput {
	border: 0;
	padding: 0 0 0 30px;
	font-size: 12px;
	width: 217px;
	height: 30px;
	line-height: 30px;
	margin-top: 0;
	display: block;
	background: #faf9f4;
	border-radius: 16px
}

.index-header .logozone .searchbox .searchbox-inner .searchinput::-webkit-input-placeholder {
	color: #7e7e7e
}

.index-header .logozone .searchbox .searchbox-inner .searchbtn {
	display: block;
	background: #333;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 1px;
	border-radius: 50%;
	width: 30px;
	height: 30px
}

.index-header .logozone .searchbox .searchbox-inner .search-icon {
	position: absolute;
	right: 4px;
	top: 6px;
	z-index: 2;
	pointer-events: none;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -24px;
	width: 20px;
	height: 21px
}

.index-header .logozone .searchbox .searchbox-inner .loadIcon {
	position: absolute;
	right: 8px;
	top: 5px;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -185px;
	width: 16px;
	height: 16px;
	background-color: #000;
	display: none
}

.index-header .logozone .searchbox .search-list {
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 9px;
	overflow: hidden;
	position: absolute;
	background: #fff;
	top: 15px;
	z-index: 1;
	width: 100%;
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	padding-top: 15px
}

.index-header .logozone .searchbox .search-list .line {
	width: 217px;
	height: 1px;
	border-top: 1px dashed #e6e6e6;
	margin-left: 15px
}

.index-header .logozone .searchbox .search-list li {
	width: 100%
}

.index-header .logozone .searchbox .search-list li a.people-title,.index-header .logozone .searchbox .search-list li a.product-title {
	display: block;
	height: 52px;
	padding-left: 42px;
	line-height: 52px;
	position: relative;
	font-size: 14px;
	color: #666;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.index-header .logozone .searchbox .search-list li a.people-title i,.index-header .logozone .searchbox .search-list li a.product-title i {
	position: absolute;
	left: 15px;
	top: 15px;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -117px;
	width: 17px;
	height: 22px
}

.index-header .logozone .searchbox .search-list li a.product {
	display: block;
	height: 80px;
	background: #f2f2f2;
	overflow: hidden
}

.index-header .logozone .searchbox .search-list li a.product .imgbox {
	float: left;
	margin: 10px 15px 0;
	width: 43px;
	height: 58px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,.4)
}

.pho-tabs,.pho-tabs ul li .scode img {
	-webkit-box-shadow: 5px 8px 10px rgba(0,0,0,.1)
}

.index-header .logozone .searchbox .search-list li a.product .imgbox img {
	width: 43px;
	height: 58px
}

.index-header .logozone .searchbox .search-list li a.product .detail {
	float: left;
	width: 120px
}

.index-header .logozone .searchbox .search-list li a.product .detail .book-name {
	margin-top: 15px;
	line-height: 24px;
	color: #333;
	font-size: 14px;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.index-header .logozone .searchbox .search-list li a.product .detail .book-name span {
	color: #ff4c2f
}

.index-header .logozone .searchbox .search-list li a.product .detail .author {
	line-height: 24px;
	font-size: 14px;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333
}

.index-header .logozone .searchbox .search-list li a.people-title i {
	position: absolute;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px 0;
	width: 20px;
	height: 22px
}

.index-header .logozone .searchbox .search-list li a.people {
	display: block;
	height: 60px;
	background: #f2f2f2;
	overflow: hidden
}

.index-header .logozone .searchbox .search-list li a.people .imgbox {
	float: left;
	margin: 10px 18px 0 15px;
	height: 40px;
	width: 40px;
	border-radius: 50%
}

.index-header .logozone .searchbox .search-list li a.people .imgbox img {
	height: 40px;
	width: 40px
}

.index-header .logozone .searchbox .search-list li a.people .detail {
	float: left;
	width: 120px
}

.index-header .logozone .searchbox .search-list li a.people .detail .people-name {
	line-height: 23px;
	font-size: 14px;
	margin-top: 7px;
	color: #333;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.index-header .logozone .searchbox .search-list li a.people .detail .people-name span {
	color: #ff4c2f
}

.index-header .logozone .searchbox .search-list li a.people .detail .fans {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px;
	color: #666;
	line-height: 23px
}

.index-header .logozone .mybookshelf {
	margin-top: 10px;
	font-size: 16px;
	padding-left: 46px;
	height: 30px;
	line-height: 30px
}

.index-header .logozone .mybookshelf i {
	margin-right: 15px;
	float: left;
	border-radius: 50%;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -414px -197px;
	width: 30px;
	height: 30px;
	background-color: #333
}

.index-header .firstnav {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	background: #333;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px
}

.backtop-box ul li a,.rfloat ul li a {
	border: 1px solid #d9d9d9;
	display: inline-block
}

.index-header .firstnav ul {
	zoom: 1;
	padding-left: 38px
}

.index-header .firstnav ul:after {
	display: block
}

.index-header .firstnav ul li {
	float: left;
	margin-left: 22px;
	padding: 0 19px
}

.index-header .firstnav ul li.curr {
	background-color: #4c4c4c
}

.index-header .firstnav ul li a {
	color: #fff;
	font-size: 16px
}

.index-header .firstnav ul li a:hover {
	color: #fff!important
}

.wrap1200 {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	zoom: 1
}

.wrap1200:after {
	display: block
}

.footer-box {
	height: 300px;
	background: #333;
	text-align: center;
	visibility: hidden
}

.footer-box.show {
	visibility: visible
}

.footer-box.fix_bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%
}

.backtop-box,.rfloat {
	position: fixed;
	left: 50%;
	margin-left: 620px
}

.footer-box .channel-font {
	padding-top: 40px;
	line-height: 24px
}

.footer-box .channel-font a {
	margin-right: 30px;
	color: #fff
}

.footer-box .footer-announce {
	margin-top: 30px;
	color: #999;
	font-size: 12px;
	line-height: 24px
}

.footer-box .bei {
	margin-top: 40px;
	font-size: 0
}

.footer-box .bei a {
	margin-right: 1px;
	display: inline-block
}

.footer-box .bei a img {
	display: block;
	width: 103px;
	height: 32px;
	overflow: hidden
}

.backtop-box {
	bottom: 100px;
	width: 40px
}

.backtop-box ul li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	overflow: hidden;
	font-size: 14px;
	color: #333;
	text-align: center;
	vertical-align: middle
}

.backtop-box ul li a:hover {
	color: #fff!important;
	background: #000
}

.backtop-box ul li.topback a {
	line-height: 999px;
	background: url(/_resources/motiepc/img/backtopicon.png) no-repeat #fff
}

.backtop-box ul li.topback a:hover {
	background: url(/_resources/motiepc/img/backtopicon-on.png) no-repeat #000
}

.rfloat {
	top: 280px;
	width: 40px
}

.rfloat ul li {
	height: 41px
}

.rfloat ul li a {
	width: 40px;
	height: 39px;
	position: relative
}

.rfloat ul li a span {
	display: inline-block;
	height: 41px;
	line-height: 999px;
	overflow: hidden;
	position: absolute;
	top: -1px;
	width: 70px;
	right: 39px
}

.rfloat ul li a span.rightSpan {
	right: -44px
}

.rfloat ul li a i {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 1px;
	top: 1px
}

.rfloat ul li.r-1 a {
	border-bottom: none;
	background: url(/_resources/motiepc/img/r-icon-1.png) no-repeat #fff
}

.rfloat ul li.r-1 a:hover {
	border-bottom: none;
	background: 0 0
}

.rfloat ul li.r-1 a:hover i {
	background: url(/_resources/motiepc/img/r-on-1.png) no-repeat #333
}

.rfloat ul li.r-1 a:hover span {
	background: url(/_resources/motiepc/img/r-on-1.png) -32px 0 no-repeat #333
}

.rfloat ul li.r-1 a:hover span.rightSpan {
	right: -70px;
	background-position-x: -36px
}

.rfloat ul li.r-2 a {
	border-bottom: none;
	background: url(/_resources/motiepc/img/r-icon-2.png) no-repeat #fff
}

.rfloat ul li.r-2 a:hover {
	border-bottom: none;
	background: 0 0
}

.rfloat ul li.r-2 a:hover i {
	background: url(/_resources/motiepc/img/r-on-2.png) no-repeat #333
}

.rfloat ul li.r-2 a:hover span {
	width: 45px;
	background: url(/_resources/motiepc/img/r-on-2.png) -35px 0 no-repeat #333
}

.rfloat ul li.r-3 a {
	background: url(/_resources/motiepc/img/r-icon-3.png) no-repeat #fff
}

.rfloat ul li.r-3 a:hover {
	border-bottom: none;
	background: 0 0
}

.rfloat ul li.r-3 a:hover i {
	background: url(/_resources/motiepc/img/r-on-3.png) no-repeat #333
}

.rfloat ul li.r-3 a:hover span {
	width: 45px;
	height: 42px;
	background: url(/_resources/motiepc/img/r-on-3.png) -35px 0 no-repeat #333
}

.goTop {
	background: 0 0
}

.dot-top {
	position: absolute;
	top: -9px;
	right: 26px;
	font-size: 0;
	line-height: 0;
	border-width: 0 10px 10px;
	border-color: #fff transparent;
	border-style: dashed dashed solid
}

.pho-tabs {
	padding: 20px 15px 10px;
	background: #fff;
	box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	width: 210px;
	z-index: 111111111;
	position: absolute;
	right: -19px;
	top: 40px;
	color: #333;
	border-radius: 5px
}

.pho-tabs ul li {
	overflow: hidden;
	line-height: normal;
	padding-bottom: 15px
}

.pho-tabs ul li .scode img {
	display: block;
	padding: 5px;
	box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	width: 87px;
	height: 87px
}

.pho-tabs ul li .scode a {
	margin: 0!important
}

.pho-tabs ul li p {
	width: 100px
}

.pho-tabs ul li p span {
	display: block;
	font-size: 12px;
	color: #ff4c2f;
	margin-bottom: 8px
}

.pho-tabs ul li p span.f14 {
	font-size: 14px;
	color: #333
}

.pho-tabs ul li p span img {
	margin-right: 15px
}

#back-to-top {
	position: fixed;
	top: 0
}

.secondnav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #333;
	z-index: 500
}

.secondnav .secondnav-l ul li {
	position: relative;
	float: left;
	margin-right: 37px
}

.secondnav .secondnav-l ul li:first-child a {
	font-size: 18px
}

.secondnav .secondnav-l ul li a,.secondnav .secondnav-l ul li.morefl .morestyle a {
	font-size: 14px
}

.secondnav .secondnav-l ul li.morefl {
	width: 65px;
	text-align: left;
	text-indent: 8px;
	position: relative;
	margin-left: -12px
}

.secondnav .secondnav-l ul li.morefl .morestyle {
	display: none
}

.secondnav .secondnav-l ul li.morefl .moreh {
	color: #333
}

.secondnav .secondnav-l ul li.morefl .moreh:after {
	display: inline-block;
	height: 6px;
	width: 6px;
	border-width: 2px 0 0 2px;
	border-color: #333;
	border-style: solid;
	-webkit-transform: rotateZ(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotateZ(-135deg);
	position: absolute;
	margin-top: 19px;
	right: 9px;
	content: ''
}

.secondnav .secondnav-l ul li.morefl:hover {
	background: #fff
}

.secondnav .secondnav-l ul li.morefl:hover .moreh:after {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	margin-top: 23px
}

.secondnav .secondnav-l ul li.morefl:hover .morestyle {
	display: block;
	position: absolute;
	width: 440px;
	background: #fff;
	right: 0;
	top: 50px;
	text-indent: 0;
	font-size: 0;
	-webkit-box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	padding: 10px 0
}

.secondnav .secondnav-l ul li.morefl:hover .morestyle a {
	margin-left: 30px;
	text-indent: 0;
	margin-right: 12px;
	color: #333;
	line-height: 35px;
	height: 35px;
	width: auto;
	float: left
}

.secondnav .secondnav-r {
	position: relative;
	width: 490px
}

.secondnav .secondnav-r .search-top {
	right: 238px
}

.secondnav .secondnav-r .searchbox {
	width: 247px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	top: 0;
	right: 150px;
	position: absolute
}

.secondnav .secondnav-r .searchbox .searchbox-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.secondnav .secondnav-r .searchbox .searchbox-inner .searchinput {
	border: 0;
	padding: 0 0 0 30px;
	font-size: 12px;
	width: 217px;
	height: 30px;
	line-height: 30px;
	margin-top: 0;
	display: block;
	background: #faf9f4;
	border-radius: 16px
}

.secondnav .secondnav-r .searchbox .searchbox-inner .searchinput::-webkit-input-placeholder {
	color: #7e7e7e
}

.secondnav .secondnav-r .searchbox .searchbox-inner .searchbtn {
	display: block;
	background: #333;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 1px;
	border-radius: 50%;
	width: 30px;
	height: 30px
}

.secondnav .secondnav-r .searchbox .searchbox-inner .search-icon {
	position: absolute;
	right: 4px;
	top: 6px;
	z-index: 2;
	pointer-events: none;
	background-image: url(../image/sprite.png);
	background-position: -451px -24px;
	width: 20px;
	height: 21px
}

.secondnav .secondnav-r .searchbox .searchbox-inner .loadIcon {
	position: absolute;
	right: 8px;
	top: 5px;
	background-image: url(../image/sprite.png);
	background-position: -451px -185px;
	width: 16px;
	height: 16px;
	background-color: #000;
	display: none
}

.secondnav .secondnav-r .searchbox .search-list {
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 9px;
	overflow: hidden;
	position: absolute;
	background: #fff;
	top: 15px;
	z-index: 1;
	width: 100%;
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	box-shadow: 2px 2px 10px rgba(0,0,0,.3);
	padding-top: 15px
}

.secondnav .secondnav-r .searchbox .search-list .line {
	width: 217px;
	height: 1px;
	border-top: 1px dashed #e6e6e6;
	margin-left: 15px
}

.secondnav .secondnav-r .searchbox .search-list li {
	width: 100%
}

.secondnav .secondnav-r .searchbox .search-list li a.people-title,.secondnav .secondnav-r .searchbox .search-list li a.product-title {
	display: block;
	height: 52px;
	padding-left: 42px;
	line-height: 52px;
	position: relative;
	font-size: 14px;
	color: #666;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.secondnav .secondnav-r .searchbox .search-list li a.people-title i,.secondnav .secondnav-r .searchbox .search-list li a.product-title i {
	position: absolute;
	left: 15px;
	top: 15px;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px -117px;
	width: 17px;
	height: 22px
}

.secondnav .secondnav-r .searchbox .search-list li a.product {
	display: block;
	height: 80px;
	background: #f2f2f2;
	overflow: hidden
}

.secondnav .secondnav-r .searchbox .search-list li a.product .imgbox {
	float: left;
	margin: 10px 15px 0;
	width: 43px;
	height: 58px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.4);
	box-shadow: 1px 1px 5px rgba(0,0,0,.4)
}

.secondnav .secondnav-r .searchbox .search-list li a.product .imgbox img {
	width: 43px;
	height: 58px
}

.secondnav .secondnav-r .searchbox .search-list li a.product .detail {
	float: left;
	width: 120px
}

.secondnav .secondnav-r .searchbox .search-list li a.product .detail .book-name {
	margin-top: 15px;
	line-height: 24px;
	color: #333;
	font-size: 14px;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.secondnav .secondnav-r .searchbox .search-list li a.product .detail .book-name span {
	color: #ff4c2f
}

.secondnav .secondnav-r .searchbox .search-list li a.product .detail .author {
	line-height: 24px;
	font-size: 14px;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333
}

.secondnav .secondnav-r .searchbox .search-list li a.people-title i {
	position: absolute;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -451px 0;
	width: 20px;
	height: 22px
}

.secondnav .secondnav-r .searchbox .search-list li a.people {
	display: block;
	height: 60px;
	background: #f2f2f2;
	overflow: hidden
}

.secondnav .secondnav-r .searchbox .search-list li a.people .imgbox {
	float: left;
	margin: 10px 18px 0 15px;
	height: 40px;
	width: 40px;
	border-radius: 50%
}

.secondnav .lateread .lateread_text,.secondnav .secondnav-r .nav-login .register {
	margin-left: 20px
}

.secondnav .secondnav-r .searchbox .search-list li a.people .imgbox img {
	height: 40px;
	width: 40px
}

.secondnav .secondnav-r .searchbox .search-list li a.people .detail {
	float: left;
	width: 120px
}

.secondnav .secondnav-r .searchbox .search-list li a.people .detail .people-name {
	line-height: 23px;
	font-size: 14px;
	margin-top: 7px;
	color: #333;
	width: 122px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.secondnav .secondnav-r .searchbox .search-list li a.people .detail .people-name span {
	color: #ff4c2f
}

.secondnav .secondnav-r .searchbox .search-list li a.people .detail .fans {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 150px;
	color: #666;
	line-height: 23px
}

.secondnav .secondnav-r .mybookshelf {
	margin-top: 10px;
	font-size: 16px;
	padding-left: 46px;
	height: 30px;
	line-height: 30px
}

.secondnav .secondnav-r .mybookshelf i {
	margin-right: 15px;
	float: left;
	border-radius: 50%;
	background-image: url(../../img/sprite/sprite.png?2017-08-02T02:17:40.359Z);
	background-position: -414px -197px;
	width: 30px;
	height: 30px;
	background-color: #333
}

.secondnav .secondnav-r #mod-search2 {
	position: absolute;
	left: 0;
	top: 0
}

.secondnav .secondnav-r .searchbox {
	left: 0
}

.secondnav .secondnav-r .searchbox .searchbox-inner {
	z-index: 11
}

.secondnav .secondnav-r .nav-login {
	width: 100px;
	position: absolute;
	left: 300px;
	top: 0
}

.secondnav .secondnav-r .secondnav-user {
	left: 280px;
	top: 0;
	position: absolute;
	width: 140px;
	text-align: center
}

.secondnav .secondnav-r .secondnav-user .firstname {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.secondnav .secondnav-r .secondnav-user .firstname span {
	font-size: 14px;
	color: #fff;
	height: 50px;
	line-height: 50px;
	max-width: 100px;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 4px
}

.secondnav .secondnav-r .secondnav-user .firstname i {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 9px solid #fff;
	border-bottom: none;
	margin-top: 21px;
	display: block
}

.secondnav .secondnav-r .secondnav-user ul {
	display: none;
	width: 140px;
	margin-top: -4px
}

.secondnav .secondnav-r .secondnav-user ul li a {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	display: block;
	color: #fff
}

.secondnav .secondnav-r .secondnav-user:hover {
	background: #fff;
	height: auto;
	padding-bottom: 10px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	z-index: 111
}

.secondnav .secondnav-r .secondnav-user:hover ul {
	display: block
}

.secondnav .secondnav-r .secondnav-user:hover .firstname i {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #fff;
	border-top: none
}

.secondnav .lateread {
	position: relative
}

.secondnav .lateread .lastread_box {
	position: absolute;
	top: 44px;
	right: 0;
	width: 370px;
	z-index: 109;
	display: none
}

.secondnav .lateread .lastread_box .icon-read {
	position: absolute;
	top: 2px;
	right: 30px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #fff
}

.secondnav .lateread .lastread_box .lastread_con {
	padding-top: 20px;
	min-height: 50px;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 14px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	position: relative
}

.secondnav .lateread .lastread_box .lastread_con .empty,.secondnav .lateread .lastread_box .lastread_con .unlogin {
	text-align: center;
	line-height: 1;
	padding-bottom: 20px
}

.secondnav .lateread .lastread_box .lastread_con .unlogin {
	display: none;
	font-size: 18px
}

.secondnav .lateread .lastread_box .lastread_con .unlogin a {
	color: #333
}

.secondnav .lateread .lastread_box .lastread_con .unlogin a:hover {
	color: #333!important
}

.secondnav .lateread .lastread_box .lastread_con .loading {
	position: absolute;
	display: none;
	left: 50%;
	text-align: center;
	top: 50%;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	margin-top: -25px
}

.secondnav .lateread .lastread_box .item {
	margin: 0 20px;
	padding-bottom: 20px;
	height: 100px
}

.secondnav .lateread .lastread_box .item .bookpic {
	width: 74px;
	height: 100px;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	box-shadow: 1px 1px 5px rgba(0,0,0,.2)
}

.secondnav .lateread .lastread_box .item .bookpic img {
	width: 74px;
	height: 100px
}

.secondnav .lateread .lastread_box .item .bookdetail {
	margin-left: 15px;
	width: 238px;
	line-height: 1
}

.secondnav .lateread .lastread_box .item .bookdetail .title {
	font-size: 14px;
	color: #333;
	margin-top: 3px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block
}

.secondnav .lateread .lastread_box .item .bookdetail .title:hover {
	color: #333!important
}

.secondnav .lateread .lastread_box .item .bookdetail .newest {
	font-size: 12px;
	color: #999;
	margin-top: 14px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block
}

.secondnav .lateread .lastread_box .item .bookdetail .newest:hover {
	color: #999!important
}

.secondnav .lateread .lastread_box .item .bookdetail .readnow {
	font-size: 12px;
	color: #999;
	margin-top: 10px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block
}

.secondnav .lateread .lastread_box .item .bookdetail .readnow:hover {
	color: #999!important
}

.secondnav .lateread .lastread_box .item .bookdetail .continue {
	font-size: 12px;
	margin-top: 18px;
	color: #ff4c2f;
	display: block;
	visibility: hidden
}

.secondnav .lateread .lastread_box .item .bookdetail .continue:hover {
	color: #ff4c2f!important
}

.secondnav .lateread .lastread_box .item .bookdetail .continue.show {
	visibility: visible
}

.secondnav .lateread .lastread_box .bottom {
	text-align: right;
	line-height: 40px;
	background: #f2f2f2
}

.secondnav .lateread .lastread_box .bottom a {
	margin-right: 20px;
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
	color: #666
}

.secondnav a,.tabs2 li {
	font-size: 14px
}

.fixed-rb {
	display: none!important;
	visibility: hidden!important
}

.ranklist {
	margin-bottom: 20px
}