.pay-ul li{
        border: 1px solid #eeeeee;
        line-height: 48px;
        width: 248px;
        height: 48px;
        padding: 20px;
}
.weui_cells_title img{
    margin-right: 50px;

}

.weui_btn {
    width: 1030px;
    height: 50px;
}
.price{
    width: 20px;
    height: 20px;
    border: 1px solid #ff4c2f;
}
.button2{
    width: 1030px;
    height: 50px;
    background-color:#ff4c2f;
    line-height: 50px;
    color: #fff;
    border-radius: 8px;
}
.testTxt{
    border: 1px solid #eee;
    height: 40px;
    width: 280px;
    margin-bottom: 8px;
}
.pay-pp{
    margin-left: 40px;
    margin-top: 20px;
}