<div id="main" style="width: 1200px">
    <div class="">
        <div class="mod mod-news mod-news-has-list">
            <div class="bd">
                <div class="ll fl">
                    <div class="ll-bd" style="padding-right:0;">
                        <h2>
                            联系我们
                        </h2>
                        <div class="content">
                            <div>
                                <p class="fb" style="margin-bottom:5px;">客服(
                                    <a style="color: red" target="_blank" href="http://www.motie.com/about/faq">常见问题 </a>
                                    )</p>
                                <p>
                                    客服QQ： 3254796894&nbsp;&nbsp;&nbsp;客服邮箱：3254796894@qq.com<br>
                                    　　客服电话：0523-86593139
                                </p>
                            </div>
                            <div>
                                <p class="fb" style="margin-bottom:5px;">数字版权合作</p>
                                <p>咨询QQ：514626373&nbsp;&nbsp;&nbsp;咨询邮箱：514626373@qq.com<br>
                                    　　联系人：陆女士</p>
                            </div>
                            <div>
                                <p class="fb" style="margin-bottom:5px;">衍生版权合作</p>
                                <p>咨询邮箱：514626373@qq.com<br>
                                    　　联系人：卢女士</p>
                            </div>
                            <div>
                                <p class="fb" style="margin-bottom:5px;">商务合作</p>
                                <p>咨询QQ：3254796894&nbsp;&nbsp;&nbsp;咨询邮箱：3254796894@qq.com<br>
                                    　　联系人：陈女士</p>
                                <p class="fb" style="margin-bottom:5px;">流量合作：</p>
                                <p>咨询QQ： 3254796894&nbsp;&nbsp;&nbsp;咨询邮箱:3254796894@qq.com<br>
                                    　　联系人：陈女士
                                </p>
                            </div>

                            <p class="fb" style="margin-bottom:5px;">服务时间</p>
                            <p>周一到周五：  09:00－18:00<br>
                                　　<br>
                                　　
                            </p>
                            <p class="fb" style="margin-bottom:5px;">投稿邮箱：</p>
                            <p>3254796894@qq.com<br>
                                　　备注1：您向本网站邮箱投稿的作品，须为本网站能够在有线或无线互联网上使用的作品。
                                <br>
                                　　备注2：网络原创作者，仍然需要在本网站作品发布平台发布作品，作品超过1万字以后，可以提交签约申请，耐心等候签约编辑的通过或者驳回。
                            </p>
                        </div>
                    </div>
                </div>
                <!-- start right -->
                <!-- end right -->
                <div class="cl"></div>
            </div>
        </div>
    </div>
</div>