<link href="{?$jieqi_url?}/style/css/about.css" rel="stylesheet" type="text/css">
<div class="content">
  <div class="tab1" id="tab1">
    <!-- 左侧联系我们详情 -->
    <!--"contactus_main_right.shtml" -->
    <div class="menu">
      <p>关于{?$jieqi_sitename?}</p>
      <ul>
        <li id="one1"><a href="{?$jieqi_url?}/page.php?template=c_aboucts">关于我们</a></li>
        <li id="one2"><a href="{?$jieqi_url?}/fuli/">作家福利</a></li>
        <li id="one3"><a href="{?$jieqi_url?}/page.php?template=c_copyright">版权声明</a></li>
        <li id="one4" class="off"><a href="{?$jieqi_url?}/page.php?template=c_recruitment">联系我们</a></li>
        <li id="one5"><a href="{?$jieqi_url?}/page.php?template=c_topic">招贤纳士</a></li>

      </ul>
      <div class="clear"></div>
    </div>
    <!-- 右侧关于凌云 -->
    <!--"contactus_main_left.shtml" -->
    <div class="menudiv">
      <h3 class="h3">联系我们</h3>
      <p><span style="white-space: nowrap; font-family: 宋体, SimSun;font-size:16px"><br></span></p>
      <p><span style="white-space: nowrap;"><strong><span style="font-family: 宋体, SimSun;font-size:18px;color:#4f81bd"></span></strong></span></p>
      <p><span style="white-space: nowrap;"><strong>客服支持</strong></span></p>
      <p><span style="white-space: nowrap;">Q &nbsp;Q：2213788946</span></p>
      <p><span style="white-space: nowrap;">电话：029-82285623</span></p>
      <p><span style="white-space: nowrap;">邮箱：2213788946@qq.com</span></p>
      <p><span style="white-space: nowrap;"><br></span></p>
      <p><span style="white-space: nowrap;"></span></p>
      <p style="line-height: 22.8571px; white-space: normal;"><span style="white-space: nowrap;"><strong>热门IP开发合作（影视、游戏、出版、动漫和有声等）</strong></span></p>
      <p style="line-height: 22.8571px; white-space: normal;"><span style="white-space: nowrap;">联系人：王先生</span></p>
      <p style="line-height: 22.8571px; white-space: normal;"><span style="white-space: nowrap;">咨询QQ：2213788946</span></p>
      <p><br></p>
      <p><span style="white-space: nowrap;"><strong>市场渠道合作（网站推广、市场渠道和流量等）</strong></span></p>
      <p><span style="white-space: nowrap;">联系人：良少&nbsp;</span></p>
      <p><span style="white-space: nowrap;">咨询QQ：2213788946</span></p>
      <p><span style="white-space: nowrap;"><br></span></p>
      <p><br></p>
      <p><span style="white-space: nowrap;"><strong>平台运营合作（电子版权输出、产品联合运营等）</strong></span></p>
      <p><span style="white-space: nowrap;">联系人：Mr.hello</span></p>
      <p><span style="white-space: nowrap;">咨询QQ：2213788946</span></p>
      <p><span style="white-space: nowrap;"><br></span></p>
      <p></p>
      <p><span style="white-space: nowrap;"><strong>联系编辑（接受作者咨询）</strong></span></p>
      <p><span style="white-space: nowrap;">联系人：总编泉火</span></p>
      <p><span style="white-space: nowrap;">咨询QQ：2213788946</span></p>
      <p><span style="white-space: nowrap;"><br></span></p>
      <p><span style="white-space: nowrap;"><br></span></p>
      <p><br></p>
      <div id="con_one_5" style="display:none;"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

