{?set jieqi_blocks_module = "system"?}
{?set jieqi_blocks_config = "indexblocks"?}
<div class="body-bg">
	<div class="wrap">
		<!-- start main -->
		<div class="containerbox">
			<div class="block10"></div>
			<!--block1 start-->
			<div class="wrap1200">
				<div class="boxcont fl">
					<span class="titmenu">{?$jieqi_pageblocks['1']['title']?}</span>
					<ul class="boxlist">
						{?$jieqi_pageblocks['1']['content']?}
					</ul>
				</div>
				<div class="w950 fr">
					<div class="mod-banner">
						<div class="banner-slide">
							<div class="slideBox">
								{?$jieqi_pageblocks['2']['content']?}
							</div>
							<div class="slide-point">
								<li class="slide-point-Focus"></li>
							</div>
							<button class="prev"></button>
							<button class="next"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="block10"></div>
			<!--block2 start-->
			<div class="wrap1200">
				<div class="boxcont newsbook fl">
					<span class="titmenu">{?$jieqi_pageblocks['22']['title']?}</span>
					<ul class="boxlist">
						{?$jieqi_pageblocks['22']['content']?}
					</ul>
				</div>
				<div class="w950 fr">
					<div class="index-hotlist fl">
						<span class="titmenu">{?$jieqi_pageblocks['3']['title']?}</span>
						<ul>
							{?$jieqi_pageblocks['3']['content']?}
						</ul>
					</div>
				</div>
			</div>
			<div class="block20"></div>
			<div class="wrap1200 page-ad-1">
				<div class="slideBox">
					<a href="http://www.novelrd.cn/modules/article/articleinfo.php?id=172" target="_blank" class="slider-film">
						<img class="lazyimg" src="">
					</a>
				</div>
			</div>
			<div class="block20"></div>
		</div>
		<div class="wrap1200">
			<div class="boxcont fl clickrank">
				<span class="titmenu">{?$jieqi_pageblocks['5']['title']?}</span>
				<ul class="boxlist">
					{?$jieqi_pageblocks['5']['content']?}
				</ul>
			</div>
			<div class="w950 fr goodbookbox" id="tabs-3">
				<span class="titmenu">{?$jieqi_pageblocks['6']['title']?}</span>
				<div class="goodbook-tabcont" id="tabs-3-hd">
					<div>
						{?$jieqi_pageblocks['6']['content']?}
					</div>
				</div>
			</div>
		</div>
		<div class="block10"></div>
		<div class="wrap1200">
			<div class="nbook-l fl">
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['7']['title']?}</div>
					{?$jieqi_pageblocks['7']['content']?}
				</div>
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['8']['title']?}</div>
					{?$jieqi_pageblocks['8']['content']?}
				</div>
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['9']['title']?}</div>
					{?$jieqi_pageblocks['9']['content']?}
				</div>
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['10']['title']?}</div>
					{?$jieqi_pageblocks['10']['content']?}
				</div>
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['11']['title']?}</div>
					{?$jieqi_pageblocks['11']['content']?}
				</div>
				<div class="booklist-l">
					<div class="titmenu-2">{?$jieqi_pageblocks['12']['title']?}</div>
					{?$jieqi_pageblocks['12']['content']?}
				</div>
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['13']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['13']['content']?}
				</ul>
			</div>
		</div>
		<div class="wrap1200 page-ad-2">
			<div class="slideBox">
				<a href="http://www.novelrd.cn" target="_blank" class="slider-film">
					<img class="lazyimg" src="">
				</a>
			</div>
		</div>
		<div class="block10"></div>
		<div class="rank-box">
			<div class="rank-list">
				<span class="titmenu">{?$jieqi_pageblocks['14']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['14']['content']?}
				</ul>
			</div>
			<div class="rank-list">
				<span class="titmenu">{?$jieqi_pageblocks['15']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['15']['content']?}
				</ul>
			</div>
			<div class="rank-list">
				<span class="titmenu">{?$jieqi_pageblocks['16']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['16']['content']?}
				</ul>
			</div>
			<div class="rank-list">
				<span class="titmenu">{?$jieqi_pageblocks['17']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['17']['content']?}
				</ul>
			</div>
		</div>
		<div class="block10"></div>
		<div class="wrap1200 botnews">
			<div class="mod-chapter-update fl" id="tabs-2">
				<div class="hd mod-title" style="border-bottom:none">
					<div class="title-bd">
						<ul class="tabs2" id="tabs-2-bd">
							<li class="on">{?$jieqi_pageblocks['18']['title']?}</li>
							<li>{?$jieqi_pageblocks['19']['title']?}</li>
							<li>{?$jieqi_pageblocks['20']['title']?}</li>
						</ul>
						<h2>最近更新</h2>
						<a href="{?function jieqi_geturl:article:articlefilter:1:?}" class="more" target="_blank">更多>></a>
					</div>
				</div>
				<div class="bd" id="tabs-2-hd">
					<div class="list update-chapter-list" style="display: block;">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>
							<tbody>
							{?$jieqi_pageblocks['18']['content']?}
							</tbody>
						</table>
					</div>
					<div class="list update-chapter-list" style="display:none">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>

							<!-- nvBookUpdateVip  数据显示测试 -->
							<tbody>
							{?$jieqi_pageblocks['19']['content']?}
							</tbody>
						</table>
					</div>
					<div class="list update-chapter-list" style="display:none">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>
							<tbody>
							{?$jieqi_pageblocks['20']['content']?}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="update_mod  fr">
				<div class="update-title">联系客服</div>
				{?$jieqi_pageblocks['21']['content']?}
			</div>
		</div>
		<div class="block20"></div>
		<!-- end main -->
		<!--start footer -->

		<!--end footer -->
	</div>
</div>
</div>

<link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "{?$jieqi_username?}",
        sitestate:"7",
        userId:"{?$jieqi_userid?}",
        coinName:"{?$egoldname?}",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/vendor.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/index_header.js"></script>
<div class="secondnav" id="back-to-top" style="display: none;">
	<div class="wrap1200">
		<div class="secondnav-l fl">
			<ul>
				<li><a href="/" class="sitename">{?$jieqi_sitename?}</a></li>
				<li><a href="{?function jieqi_geturl:article:articlefilter:1:?}" target="_blank" class="site-tag">书库</a></li>
				<li><a href="{?function jieqi_geturl:article:toplist:1:toplist?}" target="_blank" class="site-tag">排行</a></li>
				<li><a href="{?function jieqi_geturl:'article':'articlelist':1::1?}" target="_blank" class="site-tag">全本</a></li>
				<!--<li><a href="{?$jieqi_modules['forum']['url']?}/" target="_blank" class="site-tag">论坛</a></li>-->
				<li><a href="{?$jieqi_modules['article']['url']?}/applywriter.php" target="_blank" class="site-tag">作家专区</a></li>
				<li class="morefl "><a href="javascript:;" target="_blank" class="moreh ">更多</a>
					<div class="morestyle">
						{?section name=i loop=$sortrows?}
						<a href="{?function jieqi_geturl:article:articlelist:1:$i.key?}" target="_blank">{?$sortrows[i].caption?}</a>
						{?/section?}
					</div>
				</li>
			</ul>
		</div>
		<div class="secondnav-r fr">
			{?if $jieqi_userid == 0?}
			<div class="nav-login">
				<a href="javascript:void(0)" class="login-user" onclick="pop_login()">登录</a>
				<a href="{?$jieqi_url?}/register.php" class="register">注册</a>
			</div>
			{?else?}
			<div class="secondnav-user fl">
				<a href="{?$jieqi_url?}/userdetail.php" target="_blank" class="firstname"><span>{?$jieqi_username?}</span><i></i></a>
				<ul>
					<li><a href="{?$jieqi_modules['article']['url']?}/bookcase.php" target="_blank">我的书架</a></li>
					<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php" target="_blank">充值</a></li>
					<li><a href="{?$jieqi_url?}/userdetail.php" target="_blank">个人中心</a></li>
					<li><a href="{?$jieqi_url?}/message.php?box=inbox" target="_blank">消息(<em class="red bubbleNum">{?$jieqi_newmessage?}</em>)</a></li>
					<li><a href="{?$jieqi_user_url?}/logout.php?jumpurl={?$jieqi_thisurl|urlencode?}">退出</a></li>
				</ul>
			</div>
			{?/if?}
			<div class="fr lateread">
				<a href="javascript:void(0);"  class="lateread_text">最近阅读</a>
				<div class="lastread_box">
					<span class="icon-read"></span>
					<div class="lastread_con">
						<p class="unlogin"><a href="javascript:void(0)" class="login" onclick="pop_login()">登录</a></p>
						<p class="loading">loading...</p>
					</div>
				</div>
			</div>
			<div id="mod-search2">
				<div class="searchbox">
					<div class="searchbox-inner">
						<input type="text" autocomplete="off" placeholder="找书、找人" class="searchinput" value="">
						<i class="search-icon"></i>
						<input type="button" value="" class="searchbtn" style="background-color:#333333"/>
						<span class="loadIcon"></span>
					</div>
					<ul class="search-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/index.js"></script>
<div style="display: none;">
	<a id="_pingansec_leftside_shiming"></a>
	<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/cert.js"></script>
</div>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/data.js"></script>

<script>

    $(".nav_index").addClass("curr");

</script>
<div class="to_top ui-toTop" style="display: none;"></div>
<div class="rfloat">
	<ul>
		<li class="r-1"><a href="{?$jieqi_modules['article']['url']?}/bookshelf.php"><i></i><span>最近阅读</span></a></li>
		<li class="r-2"><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php"
		>
			<i></i><span>充值</span></a></li>
		<!--<li class="r-3">-->
		<!--<a href="/about/contactus"><i></i><span>客服</span></a>-->
		<!--</li>-->

	</ul>
</div>
<!--footer-->
<div class="footer-box" style="clear:both;">	<p class="channel-font">            <a href="javascript:viod();" target="_blank">友情链接：</a>{?$jieqi_pageblocks['23']['content']?}<br />            <a href="/page.php?template=c_about" target="_blank">关于我们</a>            <a href="/page.php?template=c_contactus" target="_blank">联系我们</a>            <a href="/page.php?template=c_joinUs" target="_blank">加入我们</a>        </p>
	<p class="footer-announce">
		Copyright © 2018 {?$jieqi_url?} All Rights Reserved. 陕西春墨秋香文化传播有限公司 版权所有<br>        请作者发布作品时，务必遵守国家互联网信息管理办法规定，本站拒绝任何色情内容，一经发现，即作删除。<br>        陕ICP备19012676号
	</p>
</div>
<script language="javascript">
    function AddFavorite(sURL, sTitle)
    {
        try
        {
            window.external.addFavorite(sURL, sTitle);
        }
        catch (e)
        {
            try
            {
                window.sidebar.addPanel(sTitle, sURL, "");
            }
            catch (e)
            {
                alert("加入收藏失败，请使用Ctrl D进行添加");
            }
        }
    }
</script>