<form name="frmlogin" method="post" action="{?$url_login?}">
 <table class="grid" width="60%" style="min-width:480px;">
   <caption>用户登录</caption>
    <tr align="center">
      <td><table width="100%" class="hide" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="20%" align="right" valign="middle">用户名：</td>
          <td width="80%"><input type="text" class="text" size="20" maxlength="30" style="width:120px" name="username" onKeyPress="javascript: if (event.keyCode == 32 || event.which == 32) return false;"></td>
        </tr>
        <tr>
          <td align="right" valign="middle">密　码：</td>
          <td><input type="password" class="text" size="20" maxlength="30" style="width:120px" name="password"></td>
        </tr>
        {?if $show_checkcode == 1?}
        <tr>
          <td align="right" valign="middle">验证码：</td>
          <td><input type="text" class="text" size="4" maxlength="8" name="checkcode" onfocus="if($_('login_imgccode').style.display == 'none'){$_('login_imgccode').src = '{?$jieqi_url?}/checkcode.php';$_('login_imgccode').style.display = '';}" title="点击显示验证码"><img id="login_imgccode" src="" style="cursor:pointer;vertical-align:middle;margin-left:3px;display:none;" onclick="this.src='{?$jieqi_url?}/checkcode.php?rand='+Math.random();" title="点击刷新验证码"></td>
        </tr>
        {?/if?}
		<tr>
          <td align="right" valign="middle">有效期：</td>
          <td><select name="usecookie" class="select">
              <option value="0">浏览器进程</option>
              <option value="86400">保存一天</option>
			  <option value="2592000">保存一月</option>
			  <option value="315360000">保存一年</option>
            </select>
          </td>
        </tr>
        <tr>
		  <td><input type="hidden" name="act" value="login" /></td>
          <td><button type="submit" class="button" name="submit">&nbsp;登&nbsp;&nbsp;录&nbsp;</button>
		  </td>
          </tr>
      </table></td>
	  <td>
	  <table width="100%" class="hide" border="0" cellspacing="0" cellpadding="5">
	    <tr><td align="center">【其它账号登录】</td></tr>
		<tr><td align="center"><a href="{?$jieqi_url?}/api/qq/login.php"><img src="{?$jieqi_url?}/images/api/qq_login.gif" alt="用QQ账号登录" border="0"></a></td></tr>
		<tr><td align="center"><a href="{?$jieqi_url?}/api/weibo/login.php"><img src="{?$jieqi_url?}/images/api/weibo_login.gif" alt="用新浪微博账号登录" border="0"></a></td></tr>
		<tr><td align="center"><a href="{?$jieqi_url?}/api/taobao/login.php"><img src="{?$jieqi_url?}/images/api/taobao_login.gif" alt="用淘宝账号登录" border="0"></a></td></tr>
	  </table>	  
	  </td>
    </tr>
	<tr align="center"> 
      <td colspan="2" class="foot"> <a href="{?$url_register?}">新用户注册</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{?$url_getpass?}">忘记密码？</a> 
      </td>
    </tr>
  </table>
</form>
