{?set jieqi_blocks_module = "pay"?}
{?set $jieqi_pagetitle = "在线充值-{$jieqi_sitename}"?}
<div class="wrap1200" id="wraphide">

	<dl class="pay-author">
		<dt><a href="#" target="_blank"><img src="{?function jieqi_geturl:'system':'avatar':$jieqi_userid:'l':$jieqi_avatar?}" /></a></dt>
		<dd>
			<a href="#" target="_blank">
				<span>{?$jieqi_username?}</span>
				<p>账户余额： <em class="red">{?$jieqi_egold?}</em> {?$egoldname?}</p>
			</a>
		</dd>
	</dl>
	<div class="pay-type" id="paytabs">
		<div class="pay-type-menu">
			<ul  id="paytabs-bd">
				<li class="on" data-id="thirdparty" data-type="thirdparty">第三方支付</li>
				<!--<li data-type="onlinebank">网银支付</li>-->
				<!--<li data-type="sms">短信支付</li>-->
				<!--<li data-type="overseas">海外支付方式</li>-->
			</ul>
		</div>
		<div id="paytabs-hd">

			<div class="tabs1" id="third-tabs">
				<div class="pay-type-cont">
					<div class="pay-type-box">
						<ul id="third-tabs-menu">

							<li class="thirdparty on" data-type="thirdparty" data-id="46" data-rate="100" data-url="{?$jieqi_modules['pay']['url']?}/alipay.php" title="支付宝" >
								<a href="javascript:;">
									<span class="checkw"><em class="check" title="支付宝"></em></span>
									<img src="{?$jieqi_url?}/style/images/zhifubao.png"/>
								</a>
							</li>
							<li class="thirdparty" data-type="thirdparty" data-id="90" data-rate="100" data-url="{?$jieqi_modules['pay']['url']?}/wxnative.php" title="PC微信支付" >
								<a href="javascript:;">
									<span class="checkw"><em class="check" title="PC微信支付"></em></span>
									<img src="{?$jieqi_url?}/style/images/weixinpay.png"/>
								</a>
							</li>
							<!--<li class="thirdparty" data-type="thirdparty" data-id="48" data-rate="100" title="财付通" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="财付通"></em></span>-->
									<!--<img src="{?$jieqi_url?}/style/images/caifutong.png"/>-->
								<!--</a>-->
							<!--</li>-->
						</ul>
					</div>
					<p class="pay-tit">充值金额</p>

					<div class="paycontbox third-wrap" id="thirdparty-cont-46"  >

						<div class="pay-money">

                                <span  class="money-box cur" data-money="10" data-feeUnit="CNY" data-fee-type-id="25"><b class="payprice">10</b>元
                                    <em>（1000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="20" data-feeUnit="CNY" data-fee-type-id="20"><b class="payprice">20</b>元
                                    <em>（2000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="30" data-feeUnit="CNY" data-fee-type-id="30"><b class="payprice">30</b>元
                                    <em>（3000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="50" data-feeUnit="CNY" data-fee-type-id="50"><b class="payprice">50</b>元
                                    <em>（5000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="100" data-feeUnit="CNY" data-fee-type-id="100"><b class="payprice">100</b>元
                                    <em>（10000{?$egoldname?}）</em><i></i>
                                    </span>
							<span class="money-box qt">其他金额
                                    <input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value=""  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元
                                    <em>（0{?$egoldname?}）</em><i></i>
                                    <div class="checknum" style="display: block"></div>
                                </span>
						</div>
					</div>

					<div class="paycontbox third-wrap" id="thirdparty-cont-90"   style="display: none;"  >

						<div class="pay-money">

                                <span  class="money-box cur" data-money="10" data-feeUnit="CNY" data-fee-type-id="10"><b class="payprice">10</b>元
                                    <em>（1000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="20" data-feeUnit="CNY" data-fee-type-id="30"><b class="payprice">20</b>元
                                    <em>（2000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="30" data-feeUnit="CNY" data-fee-type-id="30"><b class="payprice">30</b>元
                                    <em>（3000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="50" data-feeUnit="CNY" data-fee-type-id="50"><b class="payprice">50</b>元
                                    <em>（5000{?$egoldname?}）</em><i></i>
                                    </span>
							<span  class="money-box" data-money="1000" data-feeUnit="CNY" data-fee-type-id="100"><b class="payprice">100</b>元
                                    <em>（10000{?$egoldname?}）</em><i></i>
                                    </span>
							<div class="scodebox" id="barcode">

							</div>
						</div>
					</div>

					<!--<div class="paycontbox third-wrap" id="thirdparty-cont-48"   style="display: none;"  >-->

						<!--<div class="pay-money">-->

                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY" data-fee-type-id="25"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY" data-fee-type-id="30"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY" data-fee-type-id="40"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY" data-fee-type-id="50"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY" data-fee-type-id="60"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value=""  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

				</div>
			</div>
			<!--<div class="tabs2"  style="display: none;" id="bank-box">-->
				<!--<div class="pay-type-cont">-->
					<!--<div class="pay-type-box">-->
						<!--<ul id="bank-menu">-->

							<!--<li  class="on onlinebank" data-type="onlinebank" data-id="66" data-rate="100" title="上海银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="上海银行"></em></span>-->
									<!--<img src="picture/bank-12.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="68" data-rate="100" title="杭州银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="杭州银行"></em></span>-->
									<!--<img src="picture/bank-15.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="59" data-rate="100" title="中信银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中信银行"></em></span>-->
									<!--<img src="picture/bank-8.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="57" data-rate="100" title="中国银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国银行"></em></span>-->
									<!--<img src="picture/bank-7.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="56" data-rate="100" title="招商银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="招商银行"></em></span>-->
									<!--<img src="picture/bank-6.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="55" data-rate="100" title="交通银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="交通银行"></em></span>-->
									<!--<img src="picture/bank-4.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="51" data-rate="100" title="中国工商银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国工商银行"></em></span>-->
									<!--<img src="picture/bank-1.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="64" data-rate="100" title="平安银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="平安银行"></em></span>-->
									<!--<img src="picture/bank-13.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="65" data-rate="100" title="广东发展银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="广东发展银行"></em></span>-->
									<!--<img src="picture/bank-14.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="52" data-rate="100" title="中国建设银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国建设银行"></em></span>-->
									<!--<img src="picture/bank-2.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="53" data-rate="100" title="中国农业银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国农业银行"></em></span>-->
									<!--<img src="picture/bank-3.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="62" data-rate="100" title="中国民生银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国民生银行"></em></span>-->
									<!--<img src="picture/bank-10.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="72" data-rate="100" title="北京银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="北京银行"></em></span>-->
									<!--<img src="picture/bank-16.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="54" data-rate="100" title="中国邮政储蓄银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="中国邮政储蓄银行"></em></span>-->
									<!--<img src="picture/bank-5.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="63" data-rate="100" title="兴业银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="兴业银行"></em></span>-->
									<!--<img src="picture/bank-11.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

							<!--<li  class="onlinebank" data-type="onlinebank" data-id="61" data-rate="100" title="上海浦东发展银行" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="上海浦东发展银行"></em></span>-->
									<!--<img src="picture/bank-9.jpg"/>-->
								<!--</a>-->
							<!--</li>-->

						<!--</ul>-->
					<!--</div>-->
					<!--<p class="pay-tit">充值金额</p>-->


					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-66"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-68"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-59"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-57"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-56"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-55"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-51"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-64"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-65"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-52"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-53"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-62"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-72"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-54"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-63"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="paycontbox bank-wrap" id="onlinebank-cont-61"   style="display: none;"  >-->

						<!--<div class="pay-money">-->
                                <!--<span  class="money-box cur" data-money="30" data-feeUnit="CNY"><b class="payprice">30</b>元-->
                                    <!--<em>（3000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="50" data-feeUnit="CNY"><b class="payprice">50</b>元-->
                                    <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="100" data-feeUnit="CNY"><b class="payprice">100</b>元-->
                                    <!--<em>（10000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="500" data-feeUnit="CNY"><b class="payprice">500</b>元-->
                                    <!--<em>（50000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span  class="money-box" data-money="1000" data-feeUnit="CNY"><b class="payprice">1000</b>元-->
                                    <!--<em>（100000{?$egoldname?}）</em><i></i>-->
                                    <!--</span>-->
							<!--<span class="money-box qt">其他金额-->
                                    <!--<input data-rate="100" data-coinunit="{?$egoldname?}" data-feeUnit="" maxlength="6" class="insertnum" type="text" value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">  元-->
                                    <!--<em>（0{?$egoldname?}）</em><i></i>-->
                                    <!--<div class="checknum" style="display: block"></div>-->
                                <!--</span>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->

			<!--</div>-->

			<!--<div class="tabs3"  style="display: none;">-->
				<!--<div  class="pay-type-cont">-->
					<!--<p class="pay-tit">充值金额</p>-->

					<!--<div class="paycontbox third-wrap" id="sms-cont" data-id="85" data-rate="50"  >-->

						<!--<div class="pay-money">-->

                                <!--<span  class="money-box cur" data-money="10" data-feeUnit="CNY" data-bankid="85"><b class="payprice">10</b>元-->
                                        <!--<em>（500{?$egoldname?}）</em><i></i>-->
                                        <!--</span>-->
							<!--<span  class="money-box" data-money="15" data-feeUnit="CNY" data-bankid="85"><b class="payprice">15</b>元-->
                                        <!--<em>（750{?$egoldname?}）</em><i></i>-->
                                        <!--</span>-->
							<!--<span  class="money-box" data-money="20" data-feeUnit="CNY" data-bankid="85"><b class="payprice">20</b>元-->
                                        <!--<em>（1000{?$egoldname?}）</em><i></i>-->
                                        <!--</span>-->
							<!--<span  class="money-box" data-money="30" data-feeUnit="CNY" data-bankid="85"><b class="payprice">30</b>元-->
                                        <!--<em>（1500{?$egoldname?}）</em><i></i>-->
                                        <!--</span>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->

			<!--</div>-->

			<!--<div class="tabs4"  style="display: none;">-->
				<!--<div class="pay-type-cont">-->
					<!--<div class="pay-type-box">-->
						<!--<ul>-->

							<!--<li  class="on overseas" data-type="overseas" data-id="49" data-rate="500" title="paypal" >-->
								<!--<a href="javascript:;">-->
									<!--<span class="checkw"><em class="check" title="paypal"></em></span>-->
									<!--<img src="picture/paypal.png"/>-->
								<!--</a>-->
							<!--</li>-->
						<!--</ul>-->

					<!--</div>-->
					<!--<p class="pay-tit">充值金额</p>-->


					<!--<div class="paycontbox third-wrap" id="overseas-cont-49"  >-->

						<!--<div class="pay-money">-->

                                <!--<span  class="money-box cur" data-money="10" data-feeUnit="USD" ><b class="payprice">10</b>美元-->
                                        <!--<em>（5000{?$egoldname?}）</em><i></i>-->
                                        <!--</span>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->

			<!--</div>-->
		</div>

		<div class="subbtn">
			<form name="form" method="post" id="form" action="{?$jieqi_modules['pay']['url']?}/alipay.php" target="_blank">
				<input type="hidden" name="bank_id" id="bank_id">
				<input type="hidden" name="egold" id="inputAmount">
				<!--<input type="hidden" name="feeTypeId" id="feeTypeId">-->
				<input type="hidden" name="act" value="pay">{?$jieqi_token_input?}
			</form>
			<p>应付：<span class="red" id="payAllmoney">30</span><span id="payMoneyUnit">元</span> <a href="javascript:void(0);"   id="paysubmit" class="paysubmit btnpop ui_bgcolor" >立即支付</a></p>
		</div>
	</div>
</div>

<link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "{?$jieqi_username?}",
        sitestate:"7",
        userId:"{?$jieqi_userid?}",
        coinName:"{?$egoldname?}",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars.helper.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/template-web.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/vendor.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
<script src="{?$jieqi_url?}/style/js/index_header.js"></script>



<!--立即支付弹层 start-->
<div class="cover" style="display: none;"></div>
<div class="popup popbox" style="display: none;">
	<div class="poptitle">支付提示<span class="popclose"><b></b></span></div>
	<dl class="popcont">
		<dt>
			<img src="{?$jieqi_url?}/style/images/erro.png" />
		</dt>
		<dd>
			<span class="f18b">请在新页面完成付款</span>
			<!--<span class="f14">支付遇到问题 <a href="javascript:;">联系客服</a></span>-->
		</dd>
	</dl>
	<p class="pay-btn">
		<a href="{?$jieqi_modules['pay']['url']?}/paylog.php" class="completebtn">已完成付款</a>
		<a href="{?$jieqi_modules['pay']['url']?}/buyegold.php" class="otherbtn">其他支付方式</a>
	</p>
</div>
<script>
    var halfwidth = -($('.popbox').width()/2);
    var halfheight = -($('.popbox').height()/2);
    function  popshow() {
        $('.cover').show();
        /*$('.popup').show();*/
        $('.popbox').css({
            'position':'fixed',
            'left':'50%',
            'top':'50%',
            'margin-left':halfwidth,
            'margin-top':halfheight
        }).show();

    }
    $('.btnpop').click(function () {

    })
    $('.popclose').click(function () {
        $('.cover').hide();
        $('.popbox').hide();
    })
    /* $('.completebtn').click(function () {
         $('.cover').hide();
         $('.popbox').hide();
         $('#wraphide').hide();
         $('.wrapsuccee').show();
     })*/
</script><script src="{?$jieqi_url?}/style/js/pay.js"></script>
<script src="{?$jieqi_url?}/style/js/jquery.qrcode.min.js"></script>
