{?set jieqi_blocks_module = "article"?}
{?set jieqi_page_template = "templates/article/draft.html"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set $jieqi_pagetitle = "草稿管理-作家专区-{$jieqi_sitename}"?}
{?set jieqi_page_rows = "10"?}
{?include file="templates/system/author_header.html"?}
<div class="container-fluid container-box worksmanage_wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {?include file="templates/system/author_left.html"?}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">作品管理</h1>

            <div class="container-wrap">
                <div class="totlenum">草稿总数{?$draftnums?}章<a href="{?$article_dynamic_url?}/newdraft.php" class="setup">新建草稿</a></div>
                <div id="selList" style="position: relative;background-color: #f3f3f3;width: 220px;height: 40px;float: left;border: none;margin-right: 20px;border-radius: 5px;margin-bottom: 10px;">
                    <select name="sort"  id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)" style="position: absolute;background: transparent;border: none;padding-left: 10px;width: 220px;height: 100%;z-index: 11;cursor: pointer;outline: none;padding-right: 30px;margin-bottom: 10px;"><p></p>
                        <option value="{?$jieqi_modules['article']['url']?}/draft.php"{?if $_request['type'] == 0?} selected="selected"{?/if?}>全部草稿</option>
                        <option value="{?$jieqi_modules['article']['url']?}/draft.php?type=1"{?if $_request['type'] == 1?} selected="selected"{?/if?}>私人草稿</option>
                        <option value="{?$jieqi_modules['article']['url']?}/draft.php?type=2"{?if $_request['type'] == 2?} selected="selected"{?/if?}>定时章节</option>
                        <option value="{?$jieqi_modules['article']['url']?}/draft.php?type=3"{?if $_request['type'] == 3?} selected="selected"{?/if?}>待审章节</option>
                    </select>
                    <i></i>
                    <script type="text/javascript">
                        <!--
                        function MM_jumpMenu(targ,selObj,restore){ //v3.0
                            eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
                            if (restore) selObj.selectedIndex=0;
                        }
                        //-->
                    </script>
                </div>
                <div class="worksmanage">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="tit">
                            <th width="140">作品名称</th>
                            <th width="270">章节标题</th>
                            <th width="180">定时发表</th>
                            <th width="100">草稿类型</th>
                            <th width="250">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {?section name=i loop=$draftrows?}
                        <tr>
                            <td><span><a href="{?$article_static_url?}/articlemanage.php?id={?$draftrows[i].articleid?}" target="_blank">{?$draftrows[i].articlename?}</a> </span></td>
                            <td><span><a href="{?$article_static_url?}/draftedit.php?id={?$draftrows[i].draftid?}" target="_blank">{?$draftrows[i].chaptername?}</a></span></td>
                            <td><span>{?if $draftrows[i].pubdate > 0?}{?$draftrows[i].pubdate|date:Y-m-d H:i:s?}{?else?}----------{?/if?}</span></td>
                            <td><span>{?if $draftrows[i].isvip_n == 1?}<span style="color: #ff0000;">收费章节</span>{?else?}免费章节{?/if?}</span></td>
                            <td>
                                <a href="{?$article_static_url?}/draftedit.php?id={?$draftrows[i].draftid?}" class="setbtn" >编辑</a>{?if $draftrows[i].display_n == 0?}<a href="{?$article_static_url?}/newchapter.php?aid={?$draftrows[i].articleid?}&draftid={?$draftrows[i].draftid?}" class="setbtn setbtn1" >发布</a>{?else?}<a href="javascript:;" class="setbtn">待审</a> {?/if?}<a class="setbtn" style="background: #ff0000;margin-left: 5px;" href="javascript:draft('{?$draftrows[i].draftid?}');">删除</a>
                            </td>
                        </tr>
                        {?/section?}
                        </tbody>
                    </table>
                    <div class="pages_bottom" style="display: block;">
                        {?$url_jumppage?}
                    </div>
                    <!--<div class="exp">-->
                    <!--<ul>-->
                    <!--<li class="exp_txt">温馨提示：</li>-->
                    <!--<li>当作品的发布章节字数达到5000字并且是审核通过状态时，作品将自动公开。</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

{?include file="templates/system/author_footer.html"?}
<!--<div class="ovlay"  style="display: none"></div>-->
<!--<div class="popup" id="popsucces" style="display: none">-->
<!--<span class="ptit">请选择参赛类型：</span>-->
<!--<span class="close"></span>-->
<!--<div class="typelist">-->
<!--</div>-->
<!--<a href="###" class="popconfirm" data-bookid="" data-typeid="">朕知道了</a>-->
<!--<span class="tipserr" style="display: none;">请选择参赛类型</span>-->
<!--</div>-->
<!--<div class="verrortips" id="verrortips" style="display: none;">-->
<!--恭喜您，参赛报名成功<br>-->
<!--工作人员正在审核请耐心等待-->
<!--</div>-->
<script type="text/javascript">
    function draft(id) {
        layer.confirm('您确实要删除该草稿么？', {
            btn: ['是','否'] //按钮
        }, function(){
            layer.closeAll('dialog');
            $.post("/modules/article/draft.php",
                {"delid":id,"ajax_gets":1},
                function(data){
                    var a = eval(data);
                    if (a.success) {
                        layer.msg(a.message, {
                            time: 3000000, //3s后自动关闭

                        });
                        window.location.reload();//刷新当前页面.
                    }
                    else {
                        layer.msg(result.msg, {
                            time: 3000, //3s后自动关闭
                            offset: '170px',
                        });
                    }
                }
            );
        });
    }
    // //参赛弹层
    // $('body').on('click','.goldbtnapply',function() {
    //     var bookId = $(this).data('typeid');
    //     var firstType = $(this).data('type');
    //     $('.popconfirm').attr('data-bookid',bookId);
    //     console.log(firstType);
    //     $('.typelist').append('<span class="firststyle" data-val="-1" data-typeid="'+bookId+'">'+firstType+'</span>');
    //     $('#popsucces').show();
    //     $('.ovlay').show();
    // })
    //
    // $('body').on('click','.typelist span',function () {
    //     if ($(this).hasClass('current')){
    //         $(this).removeClass('current');
    //     }else {
    //         $(this).addClass('current');
    //         $(this).siblings().removeClass('current');
    //     }
    //     /* $(this).each(function () {
    //      console.log($('.current').text());
    //      })*/
    //
    // });
    // $('body').on('click','.popconfirm',function () {
    //     var typeVal = $('.typelist span.current').data('val');
    //     var bookId = $(this).data('bookid');
    //     if(!$('.typelist span').hasClass('current')){
    //         $('.tipserr').show();
    //         return;
    //     }
    //     $.ajax({
    //         url:'/author_area/ajax/gold/apply?bookId='+ bookId +'&type='+ typeVal,
    //         data:'',
    //         type:'POST',
    //         beforeSend: function () {
    //             //alert('请求前');
    //             // $(".loading").show();
    //         },
    //         success:function (data) {
    //
    //             // $('.popconfirm').parent('#popsucces').hide();
    //             if (data.success == '200'){
    //
    //                 $('#popsucces').hide(500,function () {
    //                     setTimeout(function () {
    //                         //alert('111');
    //                         $('.verrortips').html('恭喜您，参赛报名成功<br>工作人员正在审核请耐心等待');
    //                         $('.verrortips').show('2000',function () {
    //                             setTimeout(function () {
    //                                 window.location.reload();
    //                             },1000);
    //                         });
    //
    //                     },500);
    //                     $('.ovlay').hide();
    //                 });
    //                 // console.log('成功');
    //             }else{
    //                 console.log('失败');
    //                 $('.verrortips').html(data.error);
    //                 $('.verrortips').show(1000,function () {
    //                     setTimeout(function () {
    //                         $('.verrortips').hide(1000);
    //                     },3000);
    //                 });
    //                 return;
    //             }
    //         },
    //         complete: function () {
    //             //alert('加载完成');
    //         },
    //         error:function () {
    //             console.log('啊哦，服务器挂了请稍等');
    //         }
    //     })
    // })
    //
    // $('.popup .close').click(function () {
    //     $(this).parent('#popsucces').hide();
    //     $('.ovlay').hide();
    //     window.location.reload();
    // })
    //
    // $('.goldbtnaudit').on('mouseenter', function () {
    //     $(this).find('.checktips').show();
    //     /* $('this').find('.pho-tabs').sublings().hide();*/
    // })
    // $('.goldbtnaudit').on('mouseleave', function () {
    //     $(this).find('.checktips').hide();
    // });
    // //处理左侧菜单的样式
    //
    // var onTip = function(){
    //     layer.msg('章节上传满5000字之后，将会进入到编辑审核后台，审核通过后作品将自动公开');
    // }
    $(document).ready(function() {
        $(".n03 a").addClass('active');
    });

</script>
