{?set jieqi_blocks_module = "article"?}
{?set jieqi_page_template = "templates/article/newchapter.html"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set $jieqi_pagetitle = "新建章节-作家专区-{$jieqi_sitename}"?}
{?include file="templates/system/author_header.html"?}
<div class="container-fluid container-box worksmanage_wrapper">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {?include file="templates/system/author_left.html"?}

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><span class="f22">作品管理<img style="margin:0 15px;" src="{?$jieqi_url?}/style/author/images/arrow_1.png" /></span><span class="book_name_box">{?$articlename?}</span>
            </h1>
            <div class="manage-bar">
                <a href="{?$article_static_url?}/articlemanage.php?id={?$articleid?}" id="manage-bar-1">作品管理</a>
                <a href="{?$article_static_url?}/newchapter.php?aid={?$articleid?}" id="manage-bar-2">新建章节</a>
                <a href="{?$article_static_url?}/newvolume.php?aid={?$articleid?}" id="manage-bar-3">新建分卷</a>
                <a href="{?$article_static_url?}/articleedit.php?id={?$articleid?}" id="manage-bar-4">作品信息</a>
            </div>

            <script type="text/javascript">
                //处理左侧菜单的样式
                $(document).ready(function() {
                    $(".n02 a").addClass('active');


                });

            </script><div class="container-wrap chapter-txt">
            <form id="iform" name="iform" action="{?$url_newchapter?}" method="post">
                <div class="txtbox">
                    <span class="wtitle">所在分卷:</span>
                    <div class="rbox">
                        <div id="parent" class="parent parentsel">
                            <select name="chapterorder" id="volumeId">
                                {?section name=i loop=$volumerows?}
                                <option value="{?$volumerows[i].chapterorder?}"{?if $volumerows[i].chapterorder == $chapterorder?} selected="selected"{?/if?}>{?$volumerows[i].volumename?}</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <em class="warning classMsg"></em>
                    </div>
                </div>
                <div class="txtbox">
                    <span class="wtitle">章节名称:</span>
                    <div class="rbox">
                        <input id="chapterName" name="chaptername" placeholder="第一章 XXX..." type="text"
                               value="{?$chaptername?}" class="textbox" maxlength="50">
                    </div>
                    <em class="warning chapter-nameMsg"></em>

                </div>
                <div class="txtbox">
                    <span class="wtitle">保存草稿:</span>
                    <div class="rbox">
                        <div class="radiobox radiobox-time">
                            <label>
                                <input type="checkbox" name="caogao" id="caogao" checked />
                                开启自动本地保存（每30秒自动保存一次）
                            </label>
                        </div>
                        <div id="tipWrap" style="color: #ff0000;"><span class="tipMsg"></span></div>
                    </div>
                </div>
                <div style="position: relative;">
                    <div class="txtbox txtboxinfo">
                        <span class="wtitle"></span>
                        <div class="rbox" style="width: 760px;">
                                <textarea name="chaptercontent" id="content" maxlength="100000"
                                          class="textarea textarea-single Words-calculation"
                                          nospace="ture">{?$chaptercontent?}</textarea>
                            <span class="contnumber"><em id="content-status"></em>/100000</span>

                        </div>
                        <p class="diffmark" style="display: none;width:760px;">
                            <span class="tipstit"></span>
                        </p>

                        <em class="warning introMsg"></em>
                    </div>
                    <div class="setcontbtn" style="display: none"><input type="button" name="" id="autoCompose"
                                                                         value="自动排版"></div>
                </div>
                {?if $authtypeset == 1?}
                <div class="txtbox">
                    <span class="wtitle">小说排版:</span>
                    <div class="rbox">
                        <div class="radiobox">
                            <label class="radio-l checked">
                                <input type="radio" name="typeset" id="typeset" value="1" checked>
                            </label>
                            自动排版
                        </div>
                        <div class="radiobox">
                            <label class="radio-l">
                                <input type="radio" name="typeset" id="typeset" value="0">
                            </label>
                            无需排版
                        </div>
                    </div>
                </div>
                {?/if?}
                {?if $issign >= 10 && $isvip > 0?}
                <div class="txtbox">
                    <span class="wtitle">章节类型:</span>
                    <div class="rbox">
                        <div class="radiobox">
                            <label class="radio-l {?if $cvip == 0?}checked{?/if?}">
                                <input type="radio" name="isvip" id="radio-free" value="0"
                                       checked  >
                            </label>
                            免费章节
                        </div>
                        <div class="radiobox">
                            <label class="radio-l {?if $cvip > 0?}checked{?/if?}">
                                <input type="radio" name="isvip" id="radio-notie" value="1">
                            </label>
                            VIP章节
                        </div>
                    </div>
                </div>
                {?if $customprice > 0?}
                <div class="txtbox">
                    <span class="wtitle">本章价格:</span>
                    <div class="rbox">
                        <input id="price" name="saleprice" placeholder="" type="text" value="{?$saleprice?}" class="textbox" maxlength="2" style="width: 100px;">&nbsp;&nbsp;枚{?$egoldname?}
                    </div>
                </div>
                {?/if?}
                {?/if?}
                <div class="txtbox" style="overflow: visible;margin-top: 10px;">
                    <span class="wtitle">发表方式:</span>
                    <div class="rbox">
                        <div class="radiobox" onclick="$('#pubtime').hide()">
                            <label class="radio-l checked">
                                <input type="radio" name="posttype" value="0">
                            </label>
                            直接发表
                        </div>
                        <div class="radiobox" onclick="$('#pubtime').hide()">
                            <label class="radio-l">
                                <input type="radio" name="posttype" value="1">
                            </label>
                            存为草稿
                        </div>
                        <div class="radiobox" onclick="$('#pubtime').show()">
                            <label class="radio-l">
                                <input type="radio" name="posttype" id="check-timing" value="2">
                            </label>
                            定时发布 <input type="text" id="pubtime" name="pubtime" style="width: 160px!important;height:30px;display: none;" class="text datepicker" value="{?$jieqi_time|date:'Y-m-d H:i:s'?}"/>
                        </div>
                    </div>
                </div>
                {?if $needupaudit == 0?}
                <div class="exp">
                    <ul>
                        <li class="exp_txt">温馨提示：</li>
                        <li>直接发表的章节也会先保存在草稿箱待审章节列表中，管理员审核后才能正常显示。</li>
                    </ul>
                </div>
                {?/if?}
                <div class="submitbtn">
                    <input type="hidden" name="ajax_gets" value="1" />
                    <input type="hidden" name="act" value="newchapter" />{?$jieqi_token_input?}
                    <input type="hidden" name="aid" value="{?$articleid?}" />
                    {?if $draftid > 0?}<input type="hidden" name="draftid" value="{?$draftid?}" />{?/if?}
                    <input type="button" class="btn-submit" value="立即发布" title="立即发布" name="save" id="btsave">
                </div>
            </form>
        </div>
        </div>
    </div>

</div>

{?include file="templates/system/author_footer.html"?}
<script type="text/javascript" src="{?$jieqi_url?}/scripts/laydate/laydate.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/author/js/jquery_autosave.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/author/js/motie.editor.js"></script>

<script type="text/javascript">
    var chapterid = '{?$articleid?}';
    $(function () {
        var savedstr = $('#content').val();
        $('#content').autoSave({cbbox:'caogao'});
        var lastsave = $.fn.autoSave.getClientData("lastsave"+chapterid);
        if(lastsave!== null && lastsave !== "" && savedstr !== lastsave){
            layer.confirm('是否载入最近一次未保存的文章草稿？', {
                btn: ['是','否'] //按钮
            }, function(){
                $('#content').val(lastsave);
                $('#content').focus();
                $('#content').keyup();
                layer.closeAll('dialog');
            });
        }

        $(".btTip").click(function (){
            layer.msg('完本作品不能操作', {
                time: 2000, //s后自动关闭
            });

        })

        //时间选择器
        laydate.render({
            elem: '#pubtime'
            ,type: 'datetime'
        });

        var save = function (data) {
            var url = "{?$url_newchapter?}";
            popUp.openLoading('正在提交..');
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: data,
                processData: false,
                contentType: false
            }).done(function(result) {
                var result = eval(result);
                if(result.success==true){
                    popUp.close();
                    popUp.openTips("发表成功！");
                    setTimeout(function(){
                        window.location.href=result.backUrl;
                    }, 3000);
                }
                else{
                    popUp.close();
                    popUp.openTips(result.message);
                }
            })
        };


        $('#btsave').click(function () {
            if (preSave() == false) {
                return;
            }
            var data = new FormData($('#iform')[0]);
            disabledButton(true);
            save(data);
        });

        var disabledButton = function (flag) {
            if (flag == true) {
                $("#btsave").attr("disabled", true);
                $("#btsavedraft").attr("disabled", true);
            } else {
                $("#btsave").attr("disabled", false);
                $("#btsavedraft").attr("disabled", false);
            }

        }


        //给所有的单选按钮点击添加处理
        $(".radiobox").click(function () {
            var checkedEle = $('.radiobox .checked');

            if (checkedEle) {
                //'freeType-vip'==

                $(this).children('.radio-l').addClass("checked");
                //$(this).addClass("radiotime");
                //$(this).siblings().removeClass("radiotime");
                var ele = $(this).children('.radio-l').children('input[name="isvip"]');
                if (ele) {
                    $(ele).attr("checked", true);
                }
                ele = $(this).children('.radio-l').children('input[name="posttype"]');
                if (ele) {
                    $(ele).attr("checked", true);
                }
                ele = $(this).children('.radio-l').children('input[name="typeset"]');
                if (ele) {
                    $(ele).attr("checked", true);
                }

                $(this).siblings().children('.radio-l').removeClass("checked");
                ele = $(this).siblings().children('.radio-l').children('input[name="freeType"]');
                if (ele) {
                    $(ele).attr("checked", false);
                }
                /* ele = $(this).siblings().children('.radio-l').children('input[name="submitType"]');
                 if(ele){
                 $(ele).attr("checked",false);
                 }*/

            } else {
                $(this).children('.radio-l').removeClass("checked");
                //$(this).removeClass("radiobox-time");
                $(this).siblings().children('.radio-l').addClass("checked");

            }


        });

        var preSave = function () {

            $(".warning").empty();
            var inputName = $.trim($("input[name='chaptername']").val()).length;
            if (inputName == 0) {
                $(".chapter-nameMsg").append('请填写章节名称！');
                return false;
            } else {
                $(".chapter-nameMsg").append('<img src="{?$jieqi_url?}/style/author/images/rgtdot.png" />');
            }
            return true;

        };

        //编辑器
        Motie.editor.article({
            imgCount: 0
            , content: '#content'
            , imgAppendTo: '#imageLabel ul'
            , wordStatus: '#content-status'
            , uploadImgUrl: '/ajax/image/temp/add'
            , delImgUrl: '/ajax/image/del'
            , uploadImgHandle: '#add_image_link'
            , autoComposeHandle: '#autoCompose'
            , articleId: ( 0)
            , type: 4
        });

        $('#content').blur(function () {
            $('#autoCompose').click();
        })

    });

    $(document).ready(function () {
        $(".n02 a").addClass('active');
        $("#manage-bar-2").addClass('m-currunt');
    });
</script>

