<style>
    .btns .checkcode {
        width: 80px;
        height: 25px;
        margin-top: 3px;
        margin-right: 10px;
        cursor: pointer;
    }
</style>
<div class="path ">
    <a href="/" target="_blank">首页</a>
    <span>></span>
    <a target="_blank" href="{?function jieqi_geturl:article:articlelist:1:$sortid?}">{?$sort?}</a>
    <span>></span>
    <span>
            <a href="{?$url_articleinfo?}" target="_blank">{?$articlename?}</a>
        </span>
    <span>></span>
    <span>     <a href="{?$jieqi_modules['article']['url']?}/reviews.php?aid={?$articleid?}" target="_blank">书友评论 </a>   </span>
    <span>></span>
    <span><a href="javascript:;" target="_blank">评论详情</a></span>
</div>
<div class="comment-box clearfixer">
    <div class="fl authorbox">
        <a href="{?$url_articleinfo?}" class="authorimg" target="_blank"><img src="{?$url_image?}"/></a>
        <a href="{?$url_articleinfo?}" class="a-book-tit" target="_blank">{?$articlename?}</a>
        <a href="{?$jieqi_modules['article']['url']?}/authorpage.php?id={?$authorid?}" class="a-name" target="_blank" >{?$author?}</a>
        <p class="a-btn">
            <a href="{?$jieqi_modules['article']['url']?}/articleread.php?id={?$articleid?}" class="a-free-btn btn ui_bgcolor ui_bg_bdcolor" target="_blank">免费试读</a>
            {?if $is_bookcase > 0?}
            <span class="a-bookshelf-btn onshelf btn">已在书架</span>
            {?else?}
            <a href="javascript:;" class="addshelf a-bookshelf-btn btn">加入书架</a>
            {?/if?}
        </p>
    </div>
    <div class="reader_comments fr" id="comment-tab">
        <div class="comment_tit clearfixer">
            <span class="text fl">书友评论</span>
            <div class="comment-tab fl j-comment-tab">
            </div>
            <span class="sendcomment">发表评论</span>
        </div>
        {?if $ismaster == 1?}
        <p class="review-config">
            <span class="review-config-top ui_color">{?if $istop == 'false'?}置顶{?else?}取消置顶{?/if?}</span>
            <span class="review-config-essence ui_color">{?if $isgood == 'false'?}精华{?else?}取消精华{?/if?}</span>
        </p>
        {?/if?}
        <div class="comment_con j-comment-main">
            <div class="comment_con_newes">
                {?section name=i loop=$replyrows?}
                {?if $i.order == 1?}
                <div class="comment_item clearfixer j_comment_item" data-commentid="{?$replyrows[i].postid?}">
                    <div class="left fl">

                        <a href="{?$jieqi_modules['article']['url']?}/authorpage.php?id={?$replyrows[i].posterid?}" class="avatar" target="_blank">
                            <img src="{?function jieqi_geturl:'system':'avatar':$replyrows[i].posterid:'l':$replyrows[i].avatar?}">

                        </a>
                        <div class="nickname">
                            <!--<span class="level v1"></span>-->
                            <a href="{?$jieqi_modules['article']['url']?}/authorpage.php?id={?$replyrows[i].posterid?}" class="nickname_text" target="_blank">{?$replyrows[i].username?}</a>
                        </div>
                    </div>
                    <div class="right fl">
                        <p class="item_title">

                            {?if $replyrows[i].istop == 1?}<span class="totop">[置顶]</span>{?/if?}{?if $replyrows[i].isgood == 1?}<span class="essence">[精华]</span>{?/if?}<span class="">{?$replyrows[i].subject?}</span>

                        </p>
                        <p class="comment-text">{?$replyrows[i].posttext?}</p>
                        <p class="clearfixer behavior">
                            <span class="fl time">{?$replyrows[i].posttime|date:"Y-m-d H:i:s"?}</span>
                            {?if $ismaster == 1?}
                            <span class="fr like  recommend favorited" onclick="dels('{?$topicid?}', '{?$replyrows[i].postid?}')">删除</span>
                            {?/if?}
                            <span class="fr reply">回复</span>


                        </p>
                        <div class="replybox">
                            <span class="replyer">回复@{?$replyrows[i].username?}:</span>
                            <textarea name="" cols="30" rows="10"></textarea>
                            <div class="btns clearfixer">
                                {?if $postcheckcode > 0?}
                                <span class="code fl">验证码：<input type="text" class="checkcode" size="8" maxlength="8" id="checkcode" name="checkcode" value=""><img src="{?$jieqi_url?}/checkcode.php" style="margin-right: 10px;" onclick="this.src='{?$jieqi_url?}/checkcode.php?rand=' + Math.random();"></span>
                                {?/if?}
                                <span class="face fl"></span>
                                <span class="replying fl">回复</span>
                            </div>
                            <span class="err-tips">不能少于5个字</span>
                        </div>
                    </div>
                </div>
                {?/if?}
                {?/section?}
                <div class="detail_list">
                    <!-- 回复循环开始-->
                    {?section name=i loop=$replyrows?}
                    {?if $i.order > 1?}
                    <div class="detail_item j_comment_item" data-replyid="{?$replyrows[i].postid?}">

                        <p class="comment-text">
                            {?if $replyrows[i].posterid == $authorid?}<span class="detail_item_author">作者</span>{?/if?}
                            <span class="detail_item_reply ui_color">{?$replyrows[i].username?}：</span>
                            {?$replyrows[i].posttext?}</p>
                        <p class="clearfixer behavior">
                            <span class="fl time">{?$replyrows[i].posttime|date:"Y-m-d H:i:s"?}</span>
                            {?if $ismaster == 1?}
                            <span class="fr like  recommend favorited" onclick="del('{?$topicid?}', '{?$replyrows[i].postid?}')">删除</span>
                            {?/if?}
                            <span class="fr reply">回复</span>
                            <span class="fr report">举报</span>
                        </p>
                        <div class="replybox">
                            <span class="replyer">回复@{?$replyrows[i].username?}:</span>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <div class="btns clearfixer">
                                {?if $postcheckcode > 0?}
                                <span class="code fl">验证码：<input type="text" class="checkcode" size="8" maxlength="8" id="checkcode" name="checkcode" value=""><img src="{?$jieqi_url?}/checkcode.php" style="margin-right: 10px;" onclick="this.src='{?$jieqi_url?}/checkcode.php?rand=' + Math.random();"></span>
                                {?/if?}
                                <span class="face fl"></span>
                                <span class="replying fl " data-ajax_reply="1">回复</span>
                            </div>
                            <span class="err-tips">不能少于5个字</span>
                        </div>
                    </div>
                    {?/if?}
                    {?/section?}
                    <!-- 回复循环结束-->

                </div>
            </div>
        </div>

        <form action="" method="post" id="myForm" onkeydown="if(event.keyCode==13)return false;">
            <link rel="stylesheet" href="{?$jieqi_url?}/style/css/page.css" type="text/css">
            <div class="pages_bottom">
                <ul>
                </ul>
                <div class="pageform" id="pageForm">
                    <span>飞到</span>
                    <input type="text" name="page" id="pageNum" class="pageNum" value="1">
                    <span>页</span>
                    <span class="gobtn" id="gobtn">go</span>
                </div>
            </div></form>

    </div>
</div>
<div class="block20"></div>
<div id="floatbox">
    <div id="windowbg"></div>
</div>
<script>
    var page_config = {
        voteNumber:'{?$allvote?}',
        userMoneyBalance:'{?$jieqi_egold?}',
        bookId:'{?$articleid?}',
        isInShelf:'{?$is_bookcase?}',  // true  表示已在书架
        username: "{?$jieqi_username?}",
        authorName: "{?$jieqi_username?}",
        userLevel:"{?$jieqi_group?}",
        userIcon:"{?function jieqi_geturl:'system':'avatar':$jieqi_userid:'l':$jieqi_avatar?}",
        votes:"{?$jieqi_votes?}",
        postcheckcode: "{?$postcheckcode?}",
        callbackPageStr:'',
        comment_top:"{?$istop?}",
        comment_best:"{?$isgood?}",
        reviewId:'{?$topicid?}'
    }
</script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "{?$jieqi_username?}",
        sitestate:"7",
        userId:"{?$jieqi_userid?}",
        coinName:"{?$egoldname?}",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars.helper.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/vendor.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
<script src="{?$jieqi_url?}/style/js/index_header.js"></script>
<script src="{?$jieqi_url?}/style/js/common_chapter.js"></script>
<script src="{?$jieqi_url?}/style/js/comment_detail.js"></script>
<script src="{?$jieqi_url?}/style/js/page.js"></script>

<script type="text/javascript">

    doCreatePageNav(".pages_bottom >ul", {?$current?}, {?$totalpages?});
    var doPage = function (pageNum) {
        $("#pageNum").val(pageNum);
        $("#myForm").attr('action', "{?$jieqi_modules['article']['url']?}/reviewshow.php?tid={?$topicid?}");
        $("#myForm").submit();

    };

    function del(rid, did) {
        if(confirm('确实要删除该条回复么？'))
            $.ajax({
                url: "/modules/article/reviewshow.php",
                data: {
                    aid: page_config.bookId,
                    rid: rid,
                    did: did,
                    act: 'del',
                    jieqi_token: jieqi_token,
                    ajax_gets: 1
                },
                type: "POST",
                success: function(t) {
                    t = eval(t);
                    if (t.success === true) {
                        layer.msg('该回复删除成功！', {icon: 1,shade: .3});
                        location.reload();
                    }
                    else{
                        layer.msg(t.message, {icon: 2,shade: .3});
                    }
                },
                error: function(e) {}
            });
    }

    function dels(rid, did) {
        if(confirm('确实要删除该书评及回复么？？'))
            $.ajax({
                url: "/modules/article/reviewshow.php",
                data: {
                    aid: page_config.bookId,
                    rid: rid,
                    did: did,
                    act: 'del',
                    jieqi_token: jieqi_token,
                    ajax_gets: 1
                },
                type: "POST",
                success: function(t) {
                    t = eval(t);
                    if (t.success === true) {
                        layer.msg('该书评及回复删除成功！', {icon: 1,shade: .3});
                        window.location.href = '{?$article_dynamic_url?}/reviews.php?aid={?$articleid?}&type=all';
                    }
                    else{
                        layer.msg(t.message, {icon: 2,shade: .3});
                    }
                },
                error: function(e) {}
            });
    }
</script>
