{?set jieqi_blocks_module = "obook"?}
{?set jieqi_page_template = "templates/book/mreport.html"?}
{?set jieqi_blocks_config = "authorblocks"?}
{?set $jieqi_pagetitle = "结算中心-作家专区-{$jieqi_sitename}"?}
{?include file="templates/system/author_header.html"?}
{?set jieqi_page_rows = "20"?}
<div class="container-fluid container-box author_cash_sum">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {?include file="templates/system/author_left.html"?}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">结算中心</h1>
            <div class="container-wrap">
                <div class="bd">
                    <div class="cashtable">
                        <span class="fb18">您累计结算人民币：</span> <span class="r16" style="margin-left: 25px;">{?$money|fen2yuan?}</span> <span class="h16">元</span><span style="font-size: 16px;float: right;">总记录数：<span class="r16">{?$mreportstat['cot']?}</span> 总订阅：<span class="r16">{?$mreportstat['sumegold']|intval?}</span> 总打赏：<span class="r16">{?$mreportstat['sumtip']|intval?}</span> 总礼物：<span class="r16">{?$mreportstat['sumgift']|intval?} </span>总收入：<span class="r16">{?$mreportstat['sumemoney']|intval?}</span></span>
                    </div>

                    <h3 class="hisbalance fb18">历史查询</h3>
                    <form action="{?$obook_dynamic_url?}/mreport.php" method="post">
                        <div class="list">
                            <select name="obookid" id="work" class="parent">
                                <option value=""{?if $_request['obookid'] == 0?} selected="selected"{?/if?}>--选择作品--</option>
                                {?section name=i loop=$obookrows?}
                                <option value="{?$obookrows[i].obookid?}"{?if $obookrows[i].obookid == $_request['obookid']?} selected="selected"{?/if?}>{?$obookrows[i].obookname?}</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <div class="fb18" style="float: left; padding-top: 8px;margin-right: 10px;color: #21ade5;">从</div>
                        <div class="list" style="width: 100px;">
                            <select name="startyear" id="startyear" class="parent" style="width: 100px;">
                                <option value="0"{?if $_request['startyear'] == 0?} selected="selected"{?/if?}>开始年份</option>
                                {?section name=i loop=$ryearrows?}
                                <option value="{?$ryearrows[i]?}"{?if $ryearrows[i] == $_request['startyear']?} selected="selected"{?/if?}>{?$ryearrows[i]?}年</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <div class="list" style="width: 100px;">
                            <select name="startmonth" id="startmonth" class="parent" style="width: 100px;">
                                <option value="0"{?if $_request['startmonth'] == 0?} selected="selected"{?/if?}>开始月份</option>
                                {?section name=i loop=$rmonthrows?}
                                <option value="{?$rmonthrows[i]?}"{?if $rmonthrows[i] == $_request['startmonth']?} selected="selected"{?/if?}>{?$rmonthrows[i]?}月</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <div class="fb18" style="float: left; padding-top: 8px;margin-right: 10px;color: #21ade5;">到</div>
                        <div class="list" style="width: 100px;">
                            <select name="endyear" id="endyear" class="parent" style="width: 100px;">
                                <option value="0"{?if $_request['endyear'] == 0?} selected="selected"{?/if?}>结束年份</option>
                                {?section name=i loop=$ryearrows?}
                                <option value="{?$ryearrows[i]?}"{?if $ryearrows[i] == $_request['endyear']?} selected="selected"{?/if?}>{?$ryearrows[i]?}年</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <div class="list" style="width: 100px;">
                            <select name="endmonth" id="endmonth" class="parent" style="width: 100px;">
                                <option value="0"{?if $_request['endmonth'] == 0?} selected="selected"{?/if?}>结束月份</option>
                                {?section name=i loop=$rmonthrows?}
                                <option value="{?$rmonthrows[i]?}"{?if $rmonthrows[i] == $_request['endmonth']?} selected="selected"{?/if?}>{?$rmonthrows[i]?}月</option>
                                {?/section?}
                            </select>
                            <i></i>
                        </div>
                        <button class="M-button-s" type="submit" onclick="showLoading()">查询</button>
                    </form>
                    <table class="cash_table">
                        <tbody>
                        <tr class="tit">
                            <td class="bg">月份</td>
                            <td class="bg">作品名称</td>
                            <td class="bg">总订阅</td>
                            <td class="bg">总捧场</td>
                            <td class="bg">总礼物</td>
                            <td class="bg">总收入</td>
                            <td class="bg">是否结算</td>
                            <td class="bg" style="width: 200px;">操作</td>
                        </tr>
                        {?section name=i loop=$mreportrows?}
                        <tr>
                            <td>{?$mreportrows[i].time?}</td>
                            <td><a href="{?function jieqi_geturl:'article':'article':$mreportrows[i].articleid:'info'?}" target="_blank">{?$mreportrows[i].obookname?}</a></td>
                            <td>{?$mreportrows[i].allsale?}</td>
                            <td>{?$mreportrows[i].sumtip?}</td>
                            <td>{?$mreportrows[i].sumgift?}</td>
                            <td>{?$mreportrows[i].sumemoney?}</td>
                            <td>{?if $mreportrows[i].ispaid > 0?}<span style="color: #008000;"><b>已结算</b></span>{?else?}<span style="color: #ff0000;">未结算</span>{?/if?}</td>
                            <td style="width: 200px;">
                                <a href="{?$jieqi_modules['article']['url']?}/articleactlog.php?id={?$mreportrows[i].articleid?}&act=tip" class='details'>打赏记录</a> <a href="{?$obook_dynamic_url?}/chapterstat.php?oid={?$mreportrows[i].obookid?}" class='details'>销售明细</a> <a href="{?$obook_dynamic_url?}/paidlog.php?oid={?$mreportrows[i].obookid?}" class='details'><span>结算记录</span></a>
                            </td>

                        </tr>
                        {?/section?}
                        </tbody>
                    </table>
                    <div class="exp">
                        <ul>
                            <li class="exp_txt">温馨提示：</li>
                            <li>1. 每月1日开始结算上月收入，一般截止到10日发放完毕（节假日顺延）；</li>
                            <li>2. 作品捧场及订阅等才会产生收入；</li>
                            <li>3. <span style="color:#ff0000;">本页显示的数据为：未计算分成前的数据，分成比例请查看-><a href="{?$jieqi_url?}/persondetail.php" style="color: blue;text-decoration: underline;" target="_blank">基本信息</a>；</span></li>
                            <li>4. 对收入明细或福利如有疑问，请联系客服。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".n04 a").addClass('active');

    });
    function showLoading() {
        popUp.openLoading('正在查询');
    }


</script>

