<ul class="navw nav-sidebar">
    <li class="n01">
        <a href="{?$jieqi_modules['article']['url']?}/myarticle.php" >专区首页</a>
    </li>
    <li class="n02"><a href="{?$jieqi_modules['article']['url']?}/masterpage.php" >作品管理</a></li>
    <li class="n03"><a href="{?$jieqi_modules['article']['url']?}/draft.php">草稿管理</a></li>
    <li class="n04"><a href="{?$jieqi_modules['obook']['url']?}/mreport.php">结算中心</a></li>
    <!--<li class="n05"><a href="javascript:;">申请管理</a><em id="em_mark_apply" ></em></li>-->
    <!--<li class="n06"><a href="javascript:;">活动专区</a><em id="em_mark_activities" ></em></li>-->
    <!--<li class="n07"><a href="javascript:;">消息通知</a><em id="em_mark_message" ></em></li>-->

</ul>
