<div class="body-bg">
	<div class="wrap">
		<!-- start main -->
		<div class="containerbox">
			<div class="block10"></div>
			<!--block1 start-->
			<div class="wrap1200">
				<div class="boxcont fl">
					<span class="titmenu">{?$jieqi_pageblocks['bid1']['title']?}</span>
					<ul class="boxlist">
						{?$jieqi_pageblocks['bid1']['content']?}
					</ul>
				</div>
				<div class="w950 fr">
					<div class="mod-banner fl">
						<div class="banner-slide">
							<div class="slideBox">
								{?$jieqi_pageblocks['bid2']['content']?}
							</div>
							<a href="#" onclick="return false" class="slide-prev" data-monitor='home_lunbo_prev'></a>
							<a href="#" onclick="return false" class="slide-next" data-monitor='home_lunbo_next'></a>
							<div class="slide-point" data-monitor='home_lunbo_change'></div>
						</div>
					</div>
					<div class="boxcont newsbook fr">
						<span class="titmenu">{?$jieqi_pageblocks['bid3']['title']?}</span>
						<ul class="boxlist">
							{?$jieqi_pageblocks['bid3']['content']?}
						</ul>
						<span class="titmenu">{?$jieqi_pageblocks['bid4']['title']?}</span>
						<div id="tabs-yy-1" class="tabs-yy-1">
							{?$jieqi_pageblocks['bid4']['content']?}
						</div>

					</div>
				</div>
			</div>
			<div class="block10"></div>
			<!--block2 start-->
			<div class="wrap1200 hotbox">
				<div class="index-hotlist fl">
					<span class="titmenu">{?$jieqi_pageblocks['bid5']['title']?}</span>
					<ul>
						{?$jieqi_pageblocks['bid5']['content']?}
					</ul>
				</div>
				<div class="rank-list fr">
					<span class="titmenu">{?$jieqi_pageblocks['bid6']['title']?} </span>
					<ul class="rank-1">
						{?$jieqi_pageblocks['bid6']['content']?}
					</ul>
				</div>
			</div>
		</div>
		<div class="block10"></div>
		<div class="wrap1200 banner-ad" id="banner-1">
			<div id="slider-b-1">
				{?$jieqi_pageblocks['bid7']['content']?}
			</div>
		</div>
		<div class="block10"></div>
		<div class="wrap1200 recd-warp">
			<div class="w950 fl goodbookbox" id="tabs-3">
				<span class="titmenu">好书推荐</span>
				<ul class="tabs2" id="tabs-3-bd">
					<li class="on">{?$jieqi_pageblocks['bid8']['title']?}</li>
					<li>{?$jieqi_pageblocks['bid9']['title']?}</li>
					<li>{?$jieqi_pageblocks['bid10']['title']?}</li>
				</ul>
				<div class="goodbook-tabcont" id="tabs-3-hd">
					<div>
						{?$jieqi_pageblocks['bid8']['content']?}
					</div>
					<div style="display: none;">
						{?$jieqi_pageblocks['bid9']['content']?}
					</div>
					<div style="display: none;">
						{?$jieqi_pageblocks['bid10']['content']?}
					</div>
				</div>
				<ul class="boxlist">
					{?$jieqi_pageblocks['bid11']['content']?}
				</ul>
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['bid12']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['bid12']['content']?}
				</ul>
			</div>
		</div>
		<!--广告-->
		<div class="block20"></div>
		<div class="wrap1200 banner-ad">
			{?$jieqi_pageblocks['bid13']['content']?}
		</div>
		<div class="block20"></div>
		<!--新书推荐-->
		<div class="wrap1200 wrap-book-n">
			<div class="w950 fl new-book-w">
				<div class="titmenu">{?$jieqi_pageblocks['bid14']['title']?}</div>
				{?$jieqi_pageblocks['bid14']['content']?}
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['bid15']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['bid15']['content']?}
				</ul>
			</div>
		</div>
		<div class="block10"></div>
		<!--精品推荐-->
		<div class="wrap1200 wrap-book-n">
			<div class="w950 fl new-book-w">
				<div class="titmenu">{?$jieqi_pageblocks['bid16']['title']?}</div>
				{?$jieqi_pageblocks['bid16']['content']?}
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['bid17']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['bid17']['content']?}
				</ul>
			</div>
		</div>
		<div class="block10"></div>
		<!--start ad -->
		<div class="wrap1200 banner-ad" id="banner-2" >
			<div id="slider-b-2">
				{?$jieqi_pageblocks['bid18']['content']?}
			</div>
		</div>
		<div class="block10"></div>
		<!--start 现代言情 & 古代言情-->
		<div class="wrap1200 wrap-book-n wrap-book-xdyq">
			<div class="w950 fl">
				<div class="new-book-w">
					<div class="titmenu">{?$jieqi_pageblocks['bid19']['title']?}</div>
					{?$jieqi_pageblocks['bid19']['content']?}
				</div>
				<div class="block10"></div>
				<div class="new-book-w">
					<div class="titmenu">{?$jieqi_pageblocks['bid20']['title']?}</div>
					{?$jieqi_pageblocks['bid20']['content']?}
				</div>
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['bid21']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['bid21']['content']?}
				</ul>
			</div>
		</div>
		<div class="block10"></div>
		<!--start 玄幻言情 & 其他 -->
		<div class="wrap1200 wrap-book-n wrap-book-xdyq">
			<div class="w950 fl">
				<div class="new-book-w">
					<div class="titmenu">{?$jieqi_pageblocks['bid22']['title']?}</div>
					{?$jieqi_pageblocks['bid22']['content']?}
				</div>
				<div class="block10"></div>
				<div class="new-book-w">
					<div class="titmenu">{?$jieqi_pageblocks['bid23']['title']?}</div>
					{?$jieqi_pageblocks['bid23']['content']?}
				</div>
			</div>
			<div class="rank-list fr">
				<span class="titmenu">{?$jieqi_pageblocks['bid24']['title']?}</span>
				<ul class="rank-1">
					{?$jieqi_pageblocks['bid24']['content']?}
				</ul>
			</div>
		</div>
		<div class="block10"></div>
		<!--start ad -->
		<div class="wrap1200 banner-ad" id="banner-3" >
			<div id="slider-b-3">
				{?$jieqi_pageblocks['bid25']['content']?}
			</div>
		</div>
		<div class="block10"></div>
		<div class="wrap1200 botnews">
			<div class="mod-chapter-update fl" id="tabs-2">
				<div class="hd mod-title" style="border-bottom:none">
					<div class="title-bd">
						<ul class="tabs2" id="tabs-2-bd">
							<li class="on">{?$jieqi_pageblocks['bid26']['title']?}</li>
							<li>{?$jieqi_pageblocks['bid27']['title']?}</li>
							<li>{?$jieqi_pageblocks['bid28']['title']?}</li>
						</ul>
						<h2>最近更新</h2>
						<a href="{?function jieqi_geturl:article:articlefilter:1:?}" class="more" target="_blank">更多>></a>
					</div>
				</div>
				<div class="bd"  id="tabs-2-hd">
					<div class="list update-chapter-list" style="display: block;">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>
							<tbody>
							{?$jieqi_pageblocks['bid26']['content']?}

							</tbody>
						</table>
					</div>
					<div class="list update-chapter-list" style="display:none">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>

							<!-- nvBookUpdateVip  数据显示测试 -->
							<tbody>
							{?$jieqi_pageblocks['bid27']['content']?}
							</tbody>
						</table>
					</div>
					<div class="list update-chapter-list" style="display:none">
						<table>
							<thead>
							<tr>
								<th width="105">分类</th>
								<th width="170">书名</th>
								<th width="320">最新章节</th>
								<th width="160">作者</th>
								<th class="col4" align="right" width="100">更新时间</th>
							</tr>
							</thead>
							{?$jieqi_pageblocks['bid28']['content']?}
						</table>
					</div>
				</div>
			</div>
			<div class="update_mod  fr">
				<div class="update-title">{?$jieqi_pageblocks['bid29']['title']?}</div>
				<div class="bd">
					{?$jieqi_pageblocks['bid29']['content']?}
				</div>
			</div>
		</div>
	</div>
	<div class="block20"></div>
	<!-- end main -->
	<!--start footer -->

	<!--end footer -->
</div>
</div>

<link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "{?$jieqi_username?}",
        sitestate:"7",
        userId:"{?$jieqi_userid?}",
        coinName:"{?$egoldname?}",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/vendor.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/index_header.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/index_header.css" type="text/css"
			class="mmyqwhref"/>
<div class="secondnav" id="back-to-top" style="display: none;">
	<div class="wrap1200">
		<div class="secondnav-l fl">
			<ul>
				<li><a href="/" class="sitename">{?$jieqi_sitename?}</a></li>
				<li><a href="{?function jieqi_geturl:article:articlefilter:1:?}" target="_blank" class="site-tag">书库</a></li>
				<li><a href="{?function jieqi_geturl:article:toplist:1:toplist?}" target="_blank" class="site-tag">排行</a></li>
				<li><a href="{?function jieqi_geturl:'article':'articlelist':1::1?}" target="_blank" class="site-tag">全本</a></li>
				<li><a href="{?$jieqi_modules['forum']['url']?}/" target="_blank" class="site-tag">论坛</a></li>
				<li><a href="{?$jieqi_modules['article']['url']?}/applywriter.php" target="_blank" class="site-tag">作家专区</a></li>
				<li class="morefl "><a href="javascript:;" target="_blank" class="moreh ">更多</a>
					<div class="morestyle">
						{?section name=i loop=$sortrows?}
						<a href="{?function jieqi_geturl:article:articlelist:1:$i.key?}" target="_blank">{?$sortrows[i].caption?}</a>
						{?/section?}
					</div>
				</li>
			</ul>
		</div>
		<div class="secondnav-r fr">
			{?if $jieqi_userid == 0?}
			<div class="nav-login">
				<a href="javascript:void(0)" class="login-user" onclick="pop_login()">登录</a>
				<a href="{?$jieqi_url?}/register.php" class="register">注册</a>
			</div>
			{?else?}
			<div class="secondnav-user fl">
				<a href="{?$jieqi_url?}/userdetail.php" target="_blank" class="firstname"><span>{?$jieqi_username?}</span><i></i></a>
				<ul>
					<li><a href="{?$jieqi_modules['article']['url']?}/bookcase.php" target="_blank">我的书架</a></li>
					<li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php" target="_blank">充值</a></li>
					<li><a href="{?$jieqi_url?}/userdetail.php" target="_blank">个人中心</a></li>
					<li><a href="{?$jieqi_url?}/message.php?box=inbox" target="_blank">消息(<em class="red bubbleNum">{?$jieqi_newmessage?}</em>)</a></li>
					<li><a href="{?$jieqi_user_url?}/logout.php?jumpurl={?$jieqi_thisurl|urlencode?}">退出</a></li>
				</ul>
			</div>
			{?/if?}
			<div class="fr lateread">
				<a href="javascript:void(0);"  class="lateread_text">最近阅读</a>
				<div class="lastread_box">
					<span class="icon-read"></span>
					<div class="lastread_con">
						<p class="unlogin"><a href="javascript:void(0)" class="login" onclick="pop_login()">登录</a></p>
						<p class="loading">loading...</p>
					</div>
				</div>
			</div>
			<div id="mod-search2">
				<div class="searchbox">
					<div class="searchbox-inner">
						<input type="text" autocomplete="off" placeholder="找书、找人" class="searchinput" value="">
						<i class="search-icon"></i>
						<input type="button" value="" class="searchbtn" style="background-color:#f5546f"/>
						<span class="loadIcon"></span>
					</div>
					<ul class="search-list">
					</ul>
				</div></div>
		</div>
	</div>
</div>
<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/index.js"></script>
<div style="display: none;">
	<a id="_pingansec_leftside_shiming"></a>
	<script charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/cert.js"></script>
</div>
<script type="text/javascript" charset="{?$jieqi_charset?}" src="{?$jieqi_url?}/style/js/data.js"></script>

<script>

    $(".nav_index").addClass("curr");

</script>
