{?set jieqi_blocks_module = "system"?}
{?set jieqi_page_template = "templates/newmessage.html"?}
{?set $jieqi_pagetitle = "发送消息-{$jieqi_sitename}"?}
{?include file="templates/system/user_header.html"?}
<div class="i-right">
  <div class="systemMod">
    <div class="i-title">
      <ul class="ulHd">
        <li class="on">写新消息<span></span></li>
      </ul>
    </div>
    <div class="accountsBd">
      <div class="basicAccounts">
        <form id="frmnewmessage" action="" method="post">
          <table>
            <tr>
              <td class="label">收件人：</td>
              <td>{?if $tosys > 0?}
                网站管理员<input type="hidden" name="tosys" value="{?$tosys?}" />
                {?else?}
                <input name= "receiver" id= "receiver" type="text" value="{?$receiver?}" placeholder="请输入收件人" class="name"/>
                {?/if?}
              </td>
            </tr>
            <tr>
              <td class="label">标题：</td>
              <td>
                <input name= "title" id= "title" type="text" value="{?$title?}" placeholder="请输入标题" class="name"/>
              </td>
            </tr>
            <tr>
              <td class="label">内容：</td>
              <td>
                <textarea name="content" id="content" placeholder="请输入内容" class="textarea" maxlength="50">{?$content?}</textarea>
              </td>
            </tr>
          </table>
          <input type="hidden" name="ajax_gets" value="1" />
          <input type="hidden" name="act" value="add" />{?$jieqi_token_input?}
          <input type="button" class="accountsBtn" value="发送" onclick="frmnewmessageSubmit()" />
        </form>
      </div>
    </div>
  </div>

</div>
</div>

<!--footer mod -->
{?include file = "templates/system/footer.html"?}
<script src="{?$jieqi_url?}/style/js/jquery.jcrop.min.js"></script>

<script type="text/javascript" charset="{?$jieqi_charset?}">

    //baseForm 提交
    function frmnewmessageSubmit() {
        var form = $("#frmnewmessage").serializeArray();
        $.ajax({
            type:'post',
            url:'{?$jieqi_url?}/newmessage.php?do=submit',
            data:form,
            success:function(data){
                data = eval(data);
                if (data.success === true) {
                    layer.msg(data.message, {icon: 1,shade: .3});
                    window.location.href = data.backUrl;
                }
                else{
                    layer.msg(data.message, {icon: 2,shade: .3});
                }
            }
        });
    }
</script>
</body>
</html>


