{?set jieqi_page_template = "templates/setpass.html"?}
{?set $jieqi_contenttitle = "重设密码"?}

<!doctype html>
<head>
  <meta content="zh-cn" http-equiv="Content-Language">
  <meta name="keywords"  content="{?$meta_keywords?}">
  <meta name="description"  content="{?$meta_description?}">
  <title>重设密码_{?$jieqi_sitename?}</title>
  <link href="{?$jieqi_url?}/style/css/core.packed.css" rel="stylesheet" type="text/css" />
  <link href="{?$jieqi_url?}/style/css/jquery-ui-1.8.16.custom.min.css" rel="stylesheet" type="text/css" />
  <link href="{?$jieqi_url?}/style/css/model.packed.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{?$jieqi_url?}/style/css/register.css" type="text/css" />
  <link rel="stylesheet" href="{?$jieqi_url?}/style/css/motie.css" type="text/css"/>

<body class="wrapregister motie_site_body"  >
<div class="w1200">
  <a href="/" class="login-logo">
    <img src="{?$jieqi_url?}/style/images/logo.png"/>
  </a>
</div>
<div class="reg-box">
  <div class="tab-menu">
    <ul>
      <!--<li class="f1"><a href="#" style="color:#999;display: block;">手机找回密码</a></li>-->
      <li class="f2 on">邮箱找回密码</li>
    </ul>
  </div>
  <div class="tabcont forgetpwd" id="phoneforget" style="display: none">
    <div class="forget1">
      <p>忘记密码第一步</p>
      <form action=""  method="">
        <ul class="tabcontbox">
          <li class="voiduname">
            <label class="u-name">账户名</label><span class="ipt"><input id="uname_txt" type="text" class="w257 mailcheck" placeholder="请输入您注册的邮箱"/><i class="successtips"></i></span><em class="erromsg">账户名错误</em>
          </li>
          <li class="voidmail">
            <label class="u-name">邮箱</label><span class="ipt"><input id="mail_txt" type="text" class="w257 mailcheck" placeholder="请输入您注册的邮箱"/><i class="successtips"></i></span><em class="erromsg">邮箱错误</em>
          </li>
        </ul>
      </form>
      <span id="mobile_step1_error" class="suberror"></span>
      <a href="javascript:void(0);" class="goregister ui_bgcolor"  id="pstep1">提交</a>
    </div>
    <div class="forget2"  style="display: none;">
      <p>忘记密码第二步</p>
      <form action=""  method="">
        <input type="hidden" name="id" id="mobileid">
        <ul class="tabcontbox">
          <li>
            <label class="u-name">账户名</label><span class="ipt" id="u_name"></span>
          </li>
          <li>
            <label class="u-name">验证手机号</label><span class="ipt" id="u_mobile"></span>
          </li>
          <li class="notecode">
            <label class="u-name">短信验证</label>
            <span class="ipt">
                                <input id="mobilcodeinput" maxlength="4" class="notecodecheck w168" type="text" placeholder="请输入短信验证码"/>
                                <i class="successtips"></i>
                            </span>
            <a id="mobilcode" class="getnotecode" href="javascript:;">获取验证码</a>
            <em class="ath-tips timedow"><i id="time"></i></em>
            <em  class="erromsg">验证码不正确</em>
          </li>
        </ul>
        <span class="suberror"  id="mobile_step2_error"></span>
      </form>
      <a href="javascript:void(0);" class="goregister ui_bgcolor"  id="pstep2">提交</a>
    </div>
    <div class="forget3" style="display: none;">
      <p>忘记密码第三步</p>
      <form action=""  method="">
        <ul class="tabcontbox">
          <li class="voidpwd">
            <label class="u-name">新登录密码</label>
            <span class="ipt">
                    <input type="password" id="mobile_password" class="w257 pwdcheck" placeholder="6-18位大小写字母、符号或数字"/>
                        <i class="successtips"></i>
                    </span>
            <em  class="erromsg">6-18位大小写字母、符号或数字</em>
          </li>
          <li class="voidaffirmPwd">
            <label class="u-name">确认新密码</label>
            <span class="ipt">
                        <input type="text"  id="mobile_password2" class="w257 affirmcheck"   maxlength="18"  placeholder="请再次输入密码"/><i class="successtips"></i>
                    </span>
            <em  class="erromsg">两次密码输入不一致</em>
          </li>
        </ul>
      </form>
      <span class="suberror" id="mobile_step3_error"></span>
      <a href="javascript:void(0);" class="goregister ui_bgcolor"   id="pstep3">提交</a>
    </div>

    <div class="forget4"  style="display: none;">
      <p>忘记密码第一步</p>
      <div class="tabcontbox for4">
        <span class="succ-tips">新密码设置成功</span>
        <span class="succ-back">请牢记您设置的新密码  <a href="/" class="red">返回首页</a></span>
      </div>
    </div>
  </div>
  <div class="tabcont forgetpwd forgetpwdmail" id="mailforget" style="display: block">
    <input type="hidden" id="mail_t">
    <div class="forget1" style="display: none">
      <p>忘记密码第一步</p>
      <form action=""  method="">
        <ul class="tabcontbox">
          <li class="voidmail">
            <label class="u-name">账户名</label><span class="ipt"><input id="mail_txt" type="text" class="w257 mailcheck" placeholder="请输入您注册的邮箱"/><i class="successtips"></i></span><em class="erromsg">账户名错误</em>
          </li>
          <li class="u-vcode">
            <label class="u-name">验证码</label><span class="ipt"><input id="mail_code" type="text"  class="w168 ecodecheck" placeholder="验证码"/><i class="successtips"></i></span><img id="mail_validate_img" src=""/><em  class="erromsg">验证码不正确</em>
          </li>
        </ul>
      </form>
      <span id="mail_step1_error"></span>
      <a href="javascript:void(0);" class="goregister ui_bgcolor"   id="mstep1">提交</a>
    </div>
    <div class="forget2" style="display: none">
      <p>忘记密码第二步</p>
      <form action=""  method="">
        <ul class="tabcontbox">
          <li>
            <label class="u-name">账户名</label><span class="ipt" id="mail_name"></span>
          </li>
          <li>
            <label class="u-name">邮件已发送至邮箱，请查收</label><span class="ipt" mail_des></span>
          </li>
        </ul>
      </form>


    </div>
    <div class="forget3"  style="display: block">
      <p>忘记密码第三步</p>
      <form action=""  method="">
        <input type="hidden" name="id" id="id" value="{?$id?}" />
        <input type="hidden" name="checkcode" id="checkcode" value="{?$checkcode?}" />
        <ul class="tabcontbox">
          <li class="">
            <label class="u-name">账户名</label>
            <input type="text" class="w257" value="{?$username?}" disabled="disabled" />
          </li>
          <li class="voidpwd">
            <label class="u-name">新登录密码</label>
            <span class="ipt">
                    <input id="mail_pass1" type="password" class="w257 pwdcheck"  maxlength="18"  placeholder="6-18位大小写字母、符号或数字"/>
                        <i class="successtips"></i>
                    </span>
            <em  class="erromsg">6-18位大小写字母、符号或数字</em>
          </li>
          <li class="voidaffirmPwd">
            <label class="u-name">确认新密码</label>
            <span class="ipt">
                        <input id="mail_pass2" type="password" class="w257 affirmcheck"  maxlength="18"  placeholder="请再次输入密码"/><i class="successtips"></i>
                    </span>
            <em  class="erromsg">两次密码输入不一致</em>
          </li>
        </ul>
      </form>
      <span id="mail_step3_error"  class="suberror"></span>
      <a href="javascript:void(0);" class="goregister ui_bgcolor"   id="mstep3">提交</a>
    </div>
    <div class="forget4" style="display: none">
      <p>忘记密码第一步</p>
      <div class="tabcontbox for4">
        <span class="succ-tips">新密码设置成功</span>
        <span class="succ-back">请牢记您设置的新密码  <a href="/" class="red">返回首页</a></span>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
<script>
    function _addConfig(json) {
        if(window.page_config){
            for(var i in json){
                if(page_config[i] === undefined){
                    window.page_config[i] = json[i];
                }
            }
        }else{
            window.page_config = json;
        }
    }
    _addConfig({
        username: "{?$jieqi_username?}",
        sitestate:"7",
        userId:"{?$jieqi_userid?}",
        coinName:"{?$egoldname?}",
        siteValue:"yy",
        toTop_page:true
    });
    var isPeople = location.href.indexOf('/people')>-1;
    if(isPeople){
        page_config.toTop_page=false;
    }

</script><script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
</script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars.helper.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/template-web.js"></script>
<script type="text/javascript" src="{?$jieqi_url?}/style/js/vendor.js"></script>
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
<script src="{?$jieqi_url?}/style/js/index_header.js"></script>
<script src="{?$jieqi_url?}/style/js/register.js"></script>
</body>
</html>
