<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={?$jieqi_charset?}"/>
    <meta content="zh-cn" http-equiv="Content-Language">
    <meta name="keywords"  content="{?$meta_keywords?}">
    <meta name="description"  content="{?$meta_description?}">
    <title>{?$jieqi_pagetitle?}</title>
    <link rel="stylesheet" href="{?$jieqi_url?}/style/css/i.css" type="text/css" />
    <link rel="stylesheet" href="{?$jieqi_url?}/style/css/iyy.css" type="text/css" />
    <link rel="stylesheet" href="{?$jieqi_url?}/style/css/layer.css" />
    <script>
        function _addConfig(json) {
            if(window.page_config){
                for(var i in json){
                    if(page_config[i] === undefined){
                        window.page_config[i] = json[i];
                    }
                }
            }else{
                window.page_config = json;
            }
        }
        _addConfig({
            username: "{?$jieqi_username?}",
            sitestate:"7",
            userId:"{?$jieqi_userid?}",
            coinName:"{?$egoldname?}",
            siteValue:"yy",
            toTop_page:true
        });
        var isPeople = location.href.indexOf('/people')>-1;
        if(isPeople){
            page_config.toTop_page=false;
        }

    </script>
    <script type="text/javascript">
    var _loginUser = 'basic';
    var _config = '';
    </script>
    <script type="text/javascript" src="{?$jieqi_url?}/style/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="{?$jieqi_url?}/style/js/handlebars.helper.js"></script>
    <script type="text/javascript" src="{?$jieqi_url?}/style/js/vendor.js"></script>
    <link rel="stylesheet" href="{?$jieqi_url?}/style/css/ui_common.css">
    <script src="{?$jieqi_url?}/style/js/index_header.js"></script>
    <script type="text/javascript">var uid = "{?$jieqi_userid?}"; var checkcodelogin = "{?$jieqi_checkcodelogin?}"; var jieqi_token = '{?$jieqi_token?}'</script>

</head>
<body class="ibody">
<!--start mod -->
<link rel="stylesheet" href="{?$jieqi_url?}/style/css/header.css" type="text/css" />
<div class="mod-header" id="topback">
    <!--零导航 start-->
    <div   class="topnav">
        <div class="navbar" style="background:#f2f2f2;">
            <div class="wrap1200 h40">
                <div class="left navbox">
                    <a href="javascript:;" onclick="AddFavorite('{?$jieqi_url?}', '{?$jieqi_sitename?}');">收藏本站</a>
                </div>
                <!-- nologin start-->
                <div class="index-login h40 fr">
                    <a href="javascript:;"  class="indexmobile">
                        手机版
                        <div class="pho-tabs" style="display: none">
                            <em class="dot-top"></em>
                            <ul>
                                <li>
                                    <span class="scode fl"><img src="{?$jieqi_url?}/style/images/wap.png" /></span>
                                    <p class="fr">
                                        <span class="f14">{?$jieqi_sitename?}</span>
                                        <span>让阅读更精彩</span>
                                    </p>
                                </li>
                                <li>
                                    <span class="scode fl"><img src="{?$jieqi_url?}/style/images/weixin.jpg" /></span>
                                    <p class="fr" style="margin-top: 17px;">
                                        <span class="f14">关注微信</span>
                                        <span>微信扫一扫关注</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <!-- nologin end-->
                <!-- login start-->
                <div class="index-login fr">
                    {?if $jieqi_userid == 0?}
                    <a href="javascript:void(0)" class="login-user" onclick="doMyLogin()">登录</a>
                    <a href="{?$jieqi_url?}/register.php" class="register">注册</a>
                    {?else?}
                    <a href="{?$jieqi_url?}/userdetail.php" target="_blank" class="motie-login">{?$jieqi_username?}</a>
                    <a href="{?$jieqi_user_url?}/logout.php?jumpurl={?$jieqi_thisurl|urlencode?}">退出</a>
                    <a href="{?$jieqi_url?}/message.php?box=inbox">消息(<span class="red bubbleNum">{?$jieqi_newmessage?}</span>)</a>
                    {?/if?}
                </div>
                <!-- login end-->
            </div>
        </div>
    </div>
    <!--零导航 end-->
    <div class="headerbg ibody" style="margin-bottom:10px;">
        <!--搜索部分 start-->
        <div class="wrap1200 logo iMod">
            <a href="{?$jieqi_url?}/userdetail.php" class="fl imotie">个人中心</a>
            <ul class="iUl">
                <li><a href="{?$jieqi_url?}/">首页</a></li>
                <li class="accounts">
                    <a href="javaScript:;">账户设置</a>
                    <p>
                        <a href="{?$jieqi_url?}/useredit.php">个人信息</a>
                        <a href="{?$jieqi_url?}/passedit.php">修改密码</a>
                    </p>
                </li>
                <!--<li><a href="{?$jieqi_modules['article']['url']?}/authorpage.php?id={?$jieqi_userid?}">个人主页</a></li>-->
                <li><a href="{?$jieqi_url?}/message.php?box=inbox">消息</a><cite  id="bubble" class="bubbleNum">{?$jieqi_newmessage?}</cite></li>
                <li><a href="{?$jieqi_modules['pay']['url']?}/buyegold.php" target="_blank">充值</a></li>
            </ul>
            <div id="mod-search1">
                <div class="searchbox">
                    <div class="searchbox-inner">
                        <input type="text" autocomplete="off" placeholder="找书、找人" class="searchinput" value="">
                        <i class="search-icon"></i>
                        <input type="button" value="" class="searchbtn" style="background-color:#f5546f"/>
                        <span class="loadIcon"></span>
                    </div>
                    <ul class="search-list">
                    </ul>
                </div>
            </div>
            <a href="{?$jieqi_modules['article']['url']?}/bookcase.php" class="mybookshelf fr"><i  style="background-color:#f5546f"></i>我的书架</a>
        </div>
        <!--搜索部分 end-->
        <!--导航 start-->
    </div>
    <!--导航 end-->
</div>
<script src="{?$jieqi_url?}/style/js/icommon.js"></script>
<script>
    accountsMod = (function(){
        var accounts = $('li.accounts '), accountsDialog = $('li.accounts p');
        dialogMod(accounts,accountsDialog);
    })();
</script>

<!--container mod -->
<div class="container wrap1200">
    <!--left mod -->
    <div class="i-left">
        <!--设置 mod -->
        <p class="title"><span class="setting"></span>设置</p>
        <ul>
            <li><a href="{?$jieqi_url?}/useredit.php"><span class="basicInfo"></span>个人信息</a></li>
            <li><a href="{?$jieqi_url?}/setavatar.php"><span class="pictureInfo"></span>修改头像</a></li>
            <li><a href="{?$jieqi_url?}/passedit.php"><span class="pictureInfo"></span>修改密码</a></li>
            <li><a href="{?$jieqi_url?}/persondetail.php"><span class="basicInfo"></span>联系信息</a></li>
        </ul>
        <!--关注中心 mod -->
        <p class="title"><span></span>关注中心</p>
        <ul>
            <li><a href="{?$jieqi_modules['article']['url']?}/bookcase.php"><span></span>我的书架</a></li>
            <li><a href="{?$jieqi_modules['article']['url']?}/bookshelf.php"><span class="readed"></span>最近阅读</a></li>
            <li><a href="{?$jieqi_modules['article']['url']?}/myreviews.php"><span class="bookreview"></span>我的评论</a></li>
        </ul>
        <!--资产中心 mod -->
        <p class="title"><span class="zc"></span>资产中心</p>
        <ul>
            <li><a href="{?$jieqi_modules['pay']['url']?}/paylog.php" data-namecard="false"><span class="money"></span>充值记录</a></li>
            <li><a href="{?$jieqi_modules['article']['url']?}/myactlog.php?act=tip" data-namecard="false"><span class="package"></span>我的打赏</a></li>
            <li><a href="{?$jieqi_modules['article']['url']?}/myactlog.php?act=poll" data-namecard="false"><span class="ticket"></span>我的推荐票</a></li>
        </ul>
        <p class="title"><span class="msg"></span>消息</p>
        <ul class="msgTab">
            <li><a href="{?$jieqi_url?}/message.php?box=inbox"><span class="system"></span>收件箱</a></li>
            <li><a href="{?$jieqi_url?}/message.php?box=outbox"><span class="remind"></span>发件箱</a></li>
            <li><a href="{?$jieqi_url?}/newmessage.php"><span class="reply"></span>发送消息</a></li>
        </ul>
        <!--论坛 mod -->
        <p class="title"><span class="authorManage"></span>论坛</p>
        <ul>
            <li><a href="{?$jieqi_modules['forum']['url']?}/mytopics.php"><span class="my_forum"></span>我的帖子</a></li>
        </ul>
    </div>

    <script>
        $('.i-left ul a').each(function(){
            var self = $(this),link = self.attr('href');
            if(location.href == link){
                self.parent().addClass('on');
            }
        })
    </script>
