<ul class="ultab">
<li><a href="{?$jieqi_url?}/modules/article/myarticle.php"{?if $jieqi_thisfile|basename == 'myarticle.php'?} class="selected"{?/if?}>作家首页</a></li>
<li><a href="{?$jieqi_url?}/modules/article/newarticle.php"{?if $jieqi_thisfile|basename == 'newarticle.php'?} class="selected"{?/if?}>发表小说</a></li>
{?if $jieqi_group == 2?}
  <li><a href="{?$jieqi_url?}/modules/article/newebook.php"{?if $jieqi_thisfile|basename == 'newebook.php'?} class="selected"{?/if?}>上传小说</a></li>
  {?/if?}
</ul>

